p {
  color: var(--color-primary);
  font-feature-settings: "ss01" on, "ss02" on, "onum" on;
  line-height: var(--text-leading-default);
  padding: 0;
  margin: 0;
}

em {
  font-feature-settings: "salt" on, "ss01" on, "ss06" on, "ss08" on;
}

sup {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline {
  font-size: var(--text-size-large);
  font-family: var(--text-display);
  line-height: var(--text-leading-heading);
  text-decoration: none;
  margin: 0 0 var(--space-large);
  font-weight: 400;
}

.headline,
.title {
  font-feature-settings: "case" on;
  font-weight: 400;
}

.headline {
  margin-bottom: 0;
}

.title {
  font-style: italic;
}

.subtitle {
  font-size: var(--text-size-default);
  font-family: var(--text-body);
  font-weight: bold;
  opacity: 0.9;
}

.tertiary-title {
  font-family: var(--text-mono);
  font-style: italic;
  margin-bottom: var(--space-small);
}

.tertiary-title,
small,
code,
pre {
  font-size: var(--text-size-small);
}

small {
  line-height: var(--text-leading-crushed);
}

code,
pre {
  font-family: var(--text-mono);
  overflow-x: scroll;
}

pre {
  padding: var(--space-default);
  background-color: var(--color-primary);
  color: var(--color-bg);
  max-width: 60ch;
}

a {
  color: var(--color-primary);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: var(--space-small);
  padding: 0;
}

time {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding-left: var(--space-default);
  border-left: var(--border-default);
}

hr {
  border: 0;
  margin: auto 0 0;
  height: 1px;
  border-bottom: var(--border-default);
}

summary * {
  display: inline;
}
