html {
  font-size: 16px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--text-serif);
  font-feature-settings: "case" on;
  margin-top: var(--space-large);
  padding: 0 var(--space-default);
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  border-radius: var(--radii-default);
  height: auto;
  background-color: var(--color-faded);
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }

  body {
    padding: 0 5vw;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 1.1vw;
  }

  body {
    padding: 0 15vw;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 1vw;
  }
}
