p {
  color: var(--color-primary);
  font-feature-settings: "ss01" on, "ss02" on;
  line-height: var(--text-leading-default);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline {
  font-size: var(--text-size-large);
  font-family: var(--text-sans);
  line-height: var(--text-leading-heading);
  text-decoration: none;
  margin: 0 0 var(--space-large);
}

.headline[data-crushed] {
  line-height: var(--text-leading-crushed);
}

.title {
  font-size: var(--text-size-default);
}

.subtitle {
  font-size: var(--text-size-default);
  font-family: var(--text-serif);
  font-weight: bold;
}

a {
  color: var(--color-primary);
}

ul,
ol {
  margin: 0;
  padding-left: 1.2em;
}

ul {
  list-style: circle;
}

li {
  padding-left: var(--space-small);
  margin-bottom: var(--space-small);
}


ul[data-plain],
ol[data-plain] {
  padding: 0;
  list-style: none;
}

*[data-plain] li {
  padding: 0;
}

time {
  font-style: italic;
}

small {
  font-size: var(--text-size-small);
  line-height: var(--text-leading-crushed);
}

.tertiary-text {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
}
