p {
  color: var(--color-primary);
  font-feature-settings: "ss01" on, "ss02" on;
  line-height: var(--text-leading-default);
  padding: 0;
  margin: 0;
}

.small-caps {
  font-weight: normal;
  font-feature-settings: "smcp" 1;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline {
  font-size: var(--text-size-large);
  font-family: var(--text-sans);
  line-height: var(--text-leading-heading);
  text-decoration: none;
  margin: 0 0 var(--space-large);
}

.headline[data-lh="crushed"] {
  line-height: var(--text-leading-crushed);
}

.title {
  font-size: var(--text-size-default);
}

.subtitle {
  font-size: var(--text-size-default);
  font-family: var(--text-serif);
  font-weight: bold;
}

.tertiary-title {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
  font-style: italic;
  margin-bottom: var(--space-small);
}

a {
  color: var(--color-primary);
}

ul,
ol {
  margin: 0;
  padding-left: 1.2em;
}

ul {
  list-style: circle;
}

li {
  padding-left: var(--space-small);
  margin-bottom: var(--space-small);
}

ul[data-plain],
ol[data-plain] {
  padding: 0;
  list-style: none;
}

*[data-plain] li {
  padding: 0;
}

time {
  font-style: italic;
}

small {
  font-size: var(--text-size-small);
  line-height: var(--text-leading-crushed);
}

blockquote {
  margin: 0 0 0 -1rem;
  padding-left: var(--space-default);
  border-left: 1px solid var(--color-faded);
  color: var(--color-secondary);
  font-style: italic;
}

blockquote + ul {
  list-style: none;
  padding: 0;
  font-size: var(--text-size-small);
  margin-top: -1rem;
}

blockquote + ul > * {
  padding: 0;
}

blockquote + ul li::before {
  content: "\2014\00a0";
}

code,
pre {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
  border-radius: 2px;
  padding: 0.1em var(--space-tiny);
  background-color: var(--color-x-faded);
  overflow-x: scroll;
}

pre code {
  padding: 0;
  background-color: transparent;
}

hr {
  border: 0;
  margin: auto 0 0;
  height: 1px;
  border-top: var(--border-default);
}
