.tab {
  display: flex;
  position: sticky;
  top: 0;
  padding: var(--space-default) 0;
  align-items: center;
  background-color: var(--color-bg);
  border-bottom: var(--border-default);
}

.tab[data-appearance="unsticky"] {
  position: static;
}

.tab h3 {
  margin-bottom: 0;
}

.tab p {
  margin: 0 var(--space-large) 0 auto;
}

@media (min-width: 800px) {
  .tab {
    text-align: right;
    padding-right: var(--space-default);
    border-right: var(--border-default);
    display: block;
    border-bottom: 0;
  }

  .tab h3 {
    margin-bottom: var(--space-small);
  }

  .tab p {
    margin: auto;
  }
}
