<article class="flow | gap-xx-large">
  <header class="measure">
    <h2 class="title">Career</h2>
    <p>
      I&apos;ve been a designer for (almost) 10 years, gaining experience
      working with clients of all sizes, spanning many industries. If you
      think we could work together, please get in touch.
    </p>
  </header>
  <section class="columns">
    <section>
      <h3 id="experience" class="subtitle">{{ experience.fields.title }}</h3>
      <ul class="flow">
        {% set experience = list | findByID("4GpYef6usWILucVp1ZYNi9") %}
        {% for job in experience.fields.items %}
        <li>
          <p class="tertiary-text">{{ job.fields.period }}</p>
          <p>{{ job.fields.title }}</p>
          <p><em>{{ job.fields.company }}</em></p>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h3 id="clients" class="subtitle">Clients</h3>
      <ul class="flow" style="--flow-space: var(--space-small)">
        {% for client in cv.clients %}
        <li>{{ client }}</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h3 id="skills" class="subtitle">Skills</h3>
      <ul class="flow" style="--flow-space: var(--space-small)">
        {% for skill in cv.skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h3 id="recognition" class="subtitle">Recognition</h3>
      <ul class="flow">
        {% set awards = list | findByID("Bh8h6u3KSNupnkUX0okc8") %}
        {% for award in awards.fields.items %}
        <li>
          <a href="{{ award.fields.url }}" target="_blank" rel="noopener noreferrer">{{ award.fields.title }}</a>
          <p>{{ award.fields.date | formatDate("long") }} </p>
        </li>
        {% endfor %}
      </ul>
    </section>
  </section>
</article>
