<footer class="columns | gap-x-large">
  <div>
    <p class="subtitle | small-text gap leading-small">
      Luke Mitchell &mdash;<br />
      Product Designer
    </p>
    <ul>
      {% for page in navigation.routes[0].pages %}
      <li class="gap"><a href="{{ page.url }}" class="link">{{ page.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% set footerCategories = [navigation.routes[1], navigation.contact, navigation.elsewhere] %}
  {% for category in footerCategories %}
  <div class="push-down">
    <p class="subtitle | gap">{{ category.name }}</p>
    <ul>
      {% for page in category.pages %}
      <li class="gap"><a class="link" href="{{ page.url }}">{{ page.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
  <div>
    <p class="tertiary-text">
      <small>&copy; {{ dates.currentYear() }}, Luke Mitchell</small>
    </p>
  </div>
</footer>
