<section id="listening" class="gap-x-large">
  <h2 class="title">Listening</h2>
  <section class="gap-large">
    <p>
      Last week I listened to around
      <br>
      <a href="https://open.spotify.com/user/lkemitchll?si=dPG3-TtUSdSL5lLczPEg_A" 
         target="_blank"
         rel="noreferrer">
        {{ music.lastWeek.tracks }} Tracks, from {{ music.lastWeek.albums }} Albums
      </a>
    </p>
  </section>

  <h3 class="subtitle">Top tracks (this month)</h3>
  <ol class="flow">
    {% for track in music.topTracks %}
      <li class="track">
        <img src="{{ track.cover.url }}"
             alt="Cover art for {{ track.album }} by {{ track.artist }}"
             width="{{ track.cover.width }}"
             height="{{ track.cover.height }}"
             class="thumbnail">
        <div>
          <a href="{{ track.url }}" target="_blank" rel="noreferrer noopener">
            {{ track.title }}
          </a>
          <p>{{ track.artist }}</p>
        </div>
      </li>
    {% endfor %}
  </ol>
</section>
