<article id="listening" class="gap-xx-large">
  <h2>Listening</h2>
  <section class="columns" data-cols="3">
    <div>
      <p class="measure gap-large leading-crushed">
        <small>
          <strong>Note</strong>: I am currently moving from 
          <a href="https://en.wikipedia.org/wiki/Spotify#Criticism" target="_blank">Spotify</a> 
          to Apple Music, this section will look a bit strange until then.
        </small>
      </p>
      <h3 class="subtitle">Now Playing</h3>
      {% include "../_includes/now-playing.html" %}
      <hr class="gap-large" />
      {% for week in [music.lastWeek, music.thisWeek] %}
      <h3 class="subtitle">{{ week.title }}</h3>
      <ul class="tertiary-text gap-large">
        {% for stat in [week.tracks, week.albums] %}
        <li class="border">
          <div class="horizontal">
            <p><em>{{ stat.title }}</em></p>
            <p>
              {{ stat.total }}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    <div>
      <h3 class="subtitle">Top tracks (this month)</h3>
      <ol class="tracks | flow">
        {% for track in music.topTracks %}
        <li class="track">
          <div>
            <a href="{{ track.url }}" target="_blank" rel="noreferrer noopener">
              {{ track.title }}
            </a>
            <p><small>{{ track.artist }}</small></p>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <h3 class="subtitle">Top artists (6 months)</h3>
      <ol class="tracks | flow">
        {% for artist in music.topArtists %}
        <li class="track">
          <div>
            <a href="{{ artist.url }}" target="_blank" rel="noreferrer noopener">
              {{ artist.name }}
            </a>
            <p><small>Artist</small></p>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </section>
</article>
