<section id="listening" class="gap-x-large">
  <h2 class="title">Listening</h2>
  <section class="grid columns" style="--cols: 3">
    <div>
      <h3 class="subtitle">Now Playing</h3>
      {% include "src/_includes/now-playing.html" %}
      <hr class="gap-large" />
      <h3 class="subtitle">Last Week</h3>
      <ul class="stats | tertiary-text gap-large" style="--min: 0" data-appearance="plain">
        <li>
          <div class="horizontal">
            <p><em>Tracks</em></p>
            <p>
              {{ music.lastWeek.tracks.total }}
              <span class="color-{{ music.lastWeek.tracks.difference.type }}">
                {{ music.lastWeek.tracks.difference.icon | safe }}
              </span>
            </p>
          </div>
        </li>
        <li>
          <div class="horizontal">
            <p><em>Albums</em></p>
            <p>
              {{ music.lastWeek.albums.total }}
              <span class="color-{{ music.lastWeek.albums.difference.type }}">
                {{ music.lastWeek.albums.difference.icon | safe }}
              </span>
            </p>
          </div>
        </li>
      </ul>
      <h3 class="subtitle">This Week (so far)</h3>
      <ul class="stats | tertiary-text gap-large" style="--min: 0" data-appearance="plain">
        <li>
          <p class="horizontal">
            <em>Tracks</em>
            <span>{{ music.thisWeek.tracks }}</span>
          </p>
        </li>
        <li>
          <p class="horizontal">
            <em>Albums</em>
            <span>{{ music.thisWeek.albums }}</span>
          </p>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="subtitle">Top tracks (this month)</h3>
      <ol class="tracks | flow" data-appearance="plain">
        {% for track in music.topTracks %}
        <li class="track">
          <img
            src="{{ track.cover.url }}"
            alt="{{ track.cover.alt }}"
            width="{{ track.cover.width }}"
            height="{{ track.cover.height }}"
            class="thumbnail"
          />
          <div class="leading-small">
            <a href="{{ track.url }}" target="_blank" rel="noreferrer noopener">
              {{ track.title }}
            </a>
            <p class="small-text | color-secondary">{{ track.artist }}</p>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>

    <div>
      <h3 class="subtitle">Top artists (6 months)</h3>
      <ol class="tracks | flow" data-appearance="plain">
        {% for artist in music.topArtists %}
        <li class="track">
          <img
            src="{{ artist.images[1].url }}"
            alt=""
            width="{{ artist.images[1].width }}"
            height="{{ artist.images[1].height }}"
            class="thumbnail"
          />
          <div class="leading-small">
            <a
              href="{{ artist.external_urls.spotify }}"
              target="_blank"
              rel="noreferrer noopener"
            >
              {{ artist.name }}
            </a>
            <p class="small-text | color-secondary">Artist</p>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </section>
</section>
