<details class="tertiary-text | gap-x-large">
  <summary class="gap">Recent changes</summary>
  <ol role="list" class="flow gap">
    {% for commit in commits %}
    <li>
      <p>#<code>{{ commit.hash }}</code></p>
      <a href="https://github.com/LkeMitchll/interroban.gg/commit/{{ commit.hash }}">
        {{ commit.message }}
      </a>
      <p>
        <time datetime="{{ commit.date }}">
          {{ commit.date | formatDate }}
        </time>
      </p>
    </li>
    {% endfor %}
  </ol>
  <a href="http://www.github.com/lkemitchll/interroban.gg/commits">
    See all changes
  </a>
</details>
