<figure class="columns | gap">
  <!-- TODO: Pass size to template -->
  <div class="grayscale-image" data-image-size="large">
    <!-- TODO: Pass url to template -->
    {% image "https://interroban.gg/cdn-cgi/imagedelivery/zKqUgsaMHRqVHCJY7cgoTQ/08cc4b40-ac07-4367-1800-8e61d3cecb00/public", image_alt %}
  </div>
  <figcaption class="measure | push-down leading-crushed">
    <small class="caption">
      {{ image_alt }}
    </small>
  </figcaption>
</figure>
