<figure class="columns | gap-x-large">
  {% image image_ID, image_alt %}
  <figcaption class="measure | push-down leading-crushed">
    <small class="caption">
      {{ image_alt }}
    </small>
  </figcaption>
</figure>
