<ul class="lighthouse | horizontal | tertiary-text" role="list">
  <li>Performance <span>{{ speedlify.lighthouse.performance }}</span></li>
  <li>Accessibility <span>{{ speedlify.lighthouse.accessibility }}</span></li>
  <li>Best Practices <span>{{ speedlify.lighthouse.bestPractices }}</span></li>
  <li>SEO <span>{{ speedlify.lighthouse.seo }}</span></li>
</ul>
