<nav class="flow | tertiary-text gap-xx-large" aria-label="page section navigation">
  <ol role="list" class="gap">
    {% for heading in toc %}
    <li class="horizontal | gap">
      <p>{{ forloop.index }}.</p>
      <hr class="grow" />
      <a class="tertiary-text" href="#{{ heading | downcase }}">{{ heading }}</a>
    </li>
    {% endfor %}
  </ol>
</nav>
