---
layout: layout.njk
title: Bookmarks
---

{% set page = pages | findByID("4bctuwqdqxtWxfaNXPLqaI") %}
{% set lastUpdate = bookmarks | limit(1) %}
{% set roundup = roundups | limit(1) %}

<header class="grid | gap-x-large">
  <nav>
    <a href="/" class="link">Back to index</a>
  </nav>
  <div class="measure flow | gap">
    <h1>{{ page.fields.title }}</h1>
    {% renderMarkdown page.fields.descriptionMarkdown %}
  </div>
  <div>
    <h2 class="tertiary-title | gap">Information</h2>
    <table class="tertiary-text">
      <thead>
        <th>Total</th>
        <th>Updated</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ bookmarks | length }}</td>
          <td>{{ lastUpdate.fields.publishDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="toc | tertiary-text">
    <h2 class="tertiary-title | gap">Table of contents</h2>
    <ol class="horizontal" data-plain>
      <li><a href="#faves">Favourites</a></li>
      <li><a href="#bookmarks">All Bookmarks</a></li>
    </ol>
    <hr />
  </nav>
</header>

<article class="grid | gap-xx-large">
  <div>
    <h2 class="tertiary-title | gap">Feeds</h2>
    <a href="/api/bookmarks.json"
        target="_blank"
        referrer="noreferrer"
        class="link"
    >
      JSON Feed (All)
    </a>
  </div>
  <section>
    <section id="faves" class="gap-xx-large">
      <h2 class="title">Favourites &ndash; {{ roundup.fields.title }}</h2>
      <ul class="measure flow" data-plain>
        {% for bookmark in roundup.fields.links %}
        <li>
          <a class="gap-small"
             href="{{ bookmark.fields.url }}"
             target="_blank"
             rel="noreferrer"
          >
            {{ bookmark.fields.title }}
          </a>
          <p>
            <em>{{ bookmark.fields.tag }}</em> &ndash;
            {{ bookmark.fields.notes }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section id="bookmarks">
      <h2 class="title">All Bookmarks</h2>
      <ol class="measure flow gap-large" data-plain>
        {% for bookmark in bookmarks %}
        <li>
          <a href="{{ bookmark.fields.url }}"
             target="_blank"
             rel="noreferrer"
          >
            {{ bookmark.fields.title }}
          </a>
          <p class="color-secondary">
            <em>{{ bookmark.fields.tag }}</em>
          </p>
        </li>
        {% endfor %}
      </ol>
      <footer>
        <a href="/bookmarks" class="link">See more</a>
      </footer>
    </section>
  </section>
</article>
