---
layout: layout.html
title: Bookmarks
theme: blue
---

{% from '_includes/metaLink.html' import metaLink %}

{% set content = pages | findByID("4bctuwqdqxtWxfaNXPLqaI") %}
{% set lastUpdate = bookmarks[0].bookmarks | limit(1) %}
{% set roundup = roundups | limit(1) %}

<header id="top" class="flow | gap-large">
  <h1 class="headline">{{ content.fields.title }}</h1>
  <div class="markdown | gap">
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </div>
  <ul>
    {{ metaLink("JSON Feed", "/api/bookmarks.json") }}
    {{ metaLink("Suggest a bookmark", "mailto:luke@interroban.gg?subject=Bookmark%20suggestion", false) }}
  </ul>
  <hr>
</header>

{% set toc = ["Favourites", "2021", "2020", "Archive"] %}
{% include "_includes/toc.html" %}

<article id="favourites" class="flow | gap-x-large">
  <h2 class="gap-small">Favourites &mdash; <em>{{ roundup.fields.title }}</em></h2>
  <section>
    {% set favouriteBookmarks = roundup.fields.links %}
    {% include "_includes/favouriteBookmarks.html" %}
  </section>
</article>

<article class="flow | gap-xx-large" style="--row-gap: var(--space-small)">
  {% include "_includes/bookmark-table.html" %}
</article>
