---
layout: layout.html
title: Bookmarks
theme: blue
pagination:
  data: bookmarks
  size: 1
  alias: year
permalink: "bookmarks/{{ year.title }}.html"
---

{% from '_includes/metaLink.html' import metaLink %}

{% set content = pages | findByID("4bctuwqdqxtWxfaNXPLqaI") %}
{% set lastUpdate = bookmarks[0].bookmarks | limit(1) %}
{% set roundup = roundups | limit(1) %}

<header class="flow | gap-large">
  {% if year.current == false %}
    <a class="link" href="/bookmarks/2021">Back to bookmarks</a>
  {% endif %}
  <h1 class="headline">
    {% if year.current %}
      {{ content.fields.title }}
    {% else %}
      {{ content.fields.title }} &mdash; {{ year.title }}
    {% endif %}
  </h1>
  {% if year.current %}
    <div class="markdown | gap">
      {% renderMarkdown content.fields.descriptionMarkdown %}
    </div>
    <ul>
      {{ metaLink("RSS Feed", "/feeds/bookmarks.xml") }}
      {{ metaLink("JSON Feed", "/feeds/bookmarks.json") }}
      {{ metaLink("Suggest a bookmark", "mailto:luke@interroban.gg?subject=Bookmark%20suggestion", false) }}
    </ul>
  {% endif %}
  <hr>
</header>

{% if year.current %}
<article class="flow | gap-x-large">
  <h2 class="gap-small">Favourites &mdash; <em>{{ roundup.fields.title }}</em></h2>
  <section>
    {% set favouriteBookmarks = roundup.fields.links %}
    {% include "_includes/favouriteBookmarks.html" %}
  </section>
  <hr>
</article>
{% endif %}

<article class="flow | gap-xx-large" style="--row-gap: var(--space-small)">
  <header>
    {% if year.current %}
      <h2>{{ year.title }}</h2>
    {% endif %}

    {% set currentPage = page.url | replace("/bookmarks/", "") %}
    <nav>
      <p class="tertiary-text">Filter:</p>
      <ul class="horizontal">
        {% for year in bookmarks %}
          <li><a class="link" href="/bookmarks/{{ year.title }}" {{ "aria-current='page'" if currentPage == year.title + ".html" }}>{{ year.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <ul class="flow">
    {% for bookmark in year.bookmarks %}
      <li class="bookmark"> 
        <p class="tertiary-text">
          N&ordm; {{ bookmark.fields.number }}
        </p>
        <a href="{{ bookmark.fields.url }}" target="_blank" rel="noreferrer">
          {{ bookmark.fields.title }}
        </a>
        <p class="tertiary-text"> 
          {{ bookmark.fields.tag }} &mdash;
          {{ bookmark.sys.createdAt | formatDate }}
        </p>
      </li>
    {% endfor %}
  </ul>
</article>
