---
layout: layout.html
title: Bookmarks
---

{% set page = pages | findByID("4bctuwqdqxtWxfaNXPLqaI") %}
{% set roundup = roundups | limit(1) %}

<header class="hero | grid">
  <nav>
    <h1>{{ page.fields.title }}</h1>
    <a href="/" class="link">Back</a>
  </nav>
  <section class="measure">
    {% renderMarkdown page.fields.descriptionMarkdown %}
  </section>
</header>

<article class="grid fifty-fifty">
  <section>
    <h2 class="title">All Bookmarks</h2>
    <ol class="flow gap-large" data-plain>
      {% for bookmark in bookmarks %}
      <li>
        <a href="{{ bookmark.fields.url }}" target="_blank" rel="noreferrer">{{ bookmark.fields.title }}</a>
        <p class="color-secondary">
          <em>{{ bookmark.fields.tag }}</em>
        </p>
      </li>
      {% endfor %}
    </ol>
    <footer>
      <a href="/bookmarks" class="link">See more</a>
    </footer>
  </section>
  <section>
    <h2 class="title">Favourites &ndash; {{ roundup.fields.title }}</h2>
    {{ roundup.fields | log }}
    <ul class="flow" data-plain>
      {% for bookmark in roundup.fields.links %}
      <li>
        <a class="gap-small" href="{{ bookmark.fields.url }}" target="_blank"
          rel="noreferrer">{{ bookmark.fields.title }}</a>
        <p><em>{{ bookmark.fields.tag }}</em> &ndash; {{ bookmark.fields.notes }}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
</article>
