---
layout: layout.html
title: Colophon
---


{% set content = pages | findByID("3TxaAfROQOMMOtj5U6E4qG") %}
{% set posts = metaPosts %}

<header class="flow | gap-x-large">
  <h1 class="headline">{{ content.fields.title }}</h1>
  <section class="markdown">
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </section>
  <hr>
</header>

{% set toc = ["Updates", "Notes"] %}
{% include "_includes/toc.html" %}

<article class="flow | gap-xx-large">
  <div id="updates" class="gap-large">
    <h2 class="title">Updates</h2>
    {% set postParent = '/colophon' %}
    {% include "_includes/posts.html" %}
    {% include "_includes/commits.html" %}
    <hr />
  </div>
  <section id="notes" class="markdown | flow">
    <h2 class="title">Notes</h2>
    {% renderMarkdown content.fields.contentMarkdown %}
  </section>
</article>
