---
layout: layout.njk
title: Feeds
---

{% set page = pages | findByID("3xhMUYmeQZf3KrXmlutr9k") %}

<header class="hero | grid">
  <nav>
    <h1>{{ page.fields.title }}</h1>
    <a href="/" class="link">Back</a>
  </nav>
  <section class="measure">
    {% renderMarkdown page.fields.descriptionMarkdown %}
  </section>
  <section class="flow" style="--flow-space: 1rem">
    <table class="tertiary-text">
      <thead>
        <th>Total</th>
        <th>Updated</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ feeds | length }} Subscriptions</td>
          <td>{{ feeds[0].created_at | formatDate({})}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</header>

<article class="gap-xx-large">
  <ul class="grid | quarters" data-plain>
    {% for feed in feeds %}
    <li>
      <a href="{{ feed.site_url }}" target="_blank" rel="noreferrer">{{ feed.title }}</a>
      <p class="color-secondary">
        <time datetime="{{ feed.created_at }}">
          Reading since:
          {{ feed.created_at | formatDate({month: "short", year: "numeric"}) }}
        </time>
      </p>
    </li>
    {% endfor %}
  </ul>
</article>
