---
layout: layout.html
title: Product Designer
---

{% set page = pages | findByID("3PVdf7SKLVY2peVTFh0ft") %}
{% set recentBookmarks = bookmarks | limit(3) %}
{% set recentPosts = posts | limit(3) %}

<header class="hero | grid">
  <nav>
    <h2>{{ page.fields.title }}</h2>
    <a href="/about" class="link">More about me</a>
  </nav>
  <section class="measure">
    {% renderMarkdown page.fields.descriptionMarkdown %}
  </section>
  <section class="flow" style="--flow-space: 1rem">
    {% include "_includes/site_index.html" %}
  </section>
</header>

<article class="grid fifty-fifty">
  <section class="gap-xx-large">
    <h2>Recent Posts</h2>
    <ol class="flow gap-large" data-plain>
      {% for post in recentPosts %}
      <li>
        <a href="/post/{{ post.fields.slug }}/">{{ post.fields.title }}</a>
        <p class="color-secondary">
          <time datetime="{{ post.fields.date }}">{{ post.fields.date | formatDate }}</time>
        </p>
      </li>
      {% endfor %}
    </ol>
    <footer>
      <a href="/journal" class="link">See all Posts</a>
    </footer>
  </section>
  <section class="gap-xx-large">
    <h2>Recent Bookmarks</h2>
    <ol class="flow gap-large" data-plain>
      {% for bookmark in recentBookmarks %}
      <li>
        <a href="{{ bookmark.fields.url }}" target="_blank" rel="noreferrer">{{ bookmark.fields.title }}</a>
        <p class="color-secondary">
          <em>{{ bookmark.fields.tag }}</em>
        </p>
      </li>
      {% endfor %}
    </ol>
    <footer>
      <a href="/bookmarks" class="link">See all Bookmarks</a>
    </footer>
  </section>
</article>
