---
layout: layout.html
title: Product Designer
---

{% set page = pages | findByID("3PVdf7SKLVY2peVTFh0ft") %}
{% set recentBookmarks = bookmarks | limit(3) %}
{% set recentPosts = posts | limit(3) %}

<header class="hero | grid">
  <nav>
    <h2>{{ page.fields.title }}</h2>
    <a href="/about" class="link">More about me</a>
  </nav>
  <section class="measure">
    {% renderMarkdown page.fields.descriptionMarkdown %}
  </section>
  <section class="flow" style="--flow-space: 1rem">
    <details class="accordian" open>
      <summary>1. General</summary>
      <ol>
        <li>
          <div>
            <a class="link" href="/work">Work</a>
          </div>
          <p class="color-secondary">A bit about my process.</p>
        </li>
        <li>
          <div>
            <a class="link" href="/about">About</a>
          </div>
          <p class="color-secondary">Read more about me.</p>
        </li>
        <li>
          <div>
            <a class="link" href="/journal">Journal</a>
          </div>
          <p class="color-secondary">A blog, audio-visual tracker.</p>
        </li>
        <li>
          <div>
            <a class="link" href="/bookmarks">Bookmarks</a>
          </div>
          <p class="color-secondary">A list of interesting links.</p>
        </li>
      </ol>
    </details>
    <details class="accordian" open>
      <summary>2. Information</summary>
      <ol>
        <li>
          <div>
            <a class="link" href="/colophon">Colophon</a>
          </div>
          <p class="color-secondary">A meta blog.</p>
        </li>
        <li>
          <div>
            <a class="link" href="/about">Uses</a>
          </div>
          <p class="color-secondary">A list of my current equipment.</p>
        </li>
        <li>
          <div>
            <a class="link" href="/feeds">Feeds</a>
          </div>
          <p class="color-secondary">A list of RSS feeds I follow.</p>
        </li>
      </ol>
    </details>
    <details class="accordian">
      <summary>3. Contact</summary>
      <ol>
        <li>
          <a class="link" href="#">Email</a>
        </li>
        <li>
          <a class="link" href="#">Twitter</a>
        </li>
        <li>
          <a class="link" href="#">LinkedIn</a>
        </li>
      </ol>
    </details>
    <details class="accordian">
      <summary>4. Elsewhere</summary>
      <ol>
        <li>
          <a class="link" href="#">Dribbble</a>
        </li>
        <li>
          <a class="link" href="#">Pinterest</a>
        </li>
        <li>
          <a class="link" href="#">GitHub</a>
        </li>
      </ol>
    </details>
  </section>
</header>

<article class="grid fifty-fifty">
  <section class="gap-xx-large">
    <h2>Recent Posts</h2>
    <ol class="flow gap-large" data-plain>
      {% for post in recentPosts %}
      <li>
        <a href="/post/{{ post.fields.slug }}/">{{ post.fields.title }}</a>
        <p class="color-secondary">
          <time datetime="{{ post.fields.date }}">{{ post.fields.date | formatDate }}</time>
        </p>
      </li>
      {% endfor %}
    </ol>
    <footer>
      <a href="/journal" class="link">See all Posts</a>
    </footer>
  </section>
  <section class="gap-xx-large">
    <h2>Recent Bookmarks</h2>
    <ol class="flow gap-large" data-plain>
      {% for bookmark in recentBookmarks %}
      <li>
        <a href="{{ bookmark.fields.url }}" target="_blank" rel="noreferrer">{{ bookmark.fields.title }}</a>
        <p class="color-secondary">
          <em>{{ bookmark.fields.tag }}</em>
        </p>
      </li>
      {% endfor %}
    </ol>
    <footer>
      <a href="/bookmarks" class="link">See all Bookmarks</a>
    </footer>
  </section>
</article>
