---
pagination:
  data: metaPosts
  size: 1
  alias: post
permalink: "colophon/post/{{ post.fields.slug }}/"
layout: layout.njk
---

<header class="cross-line | gap-x-large">
  <h1 class="headline">{{ post.fields.title }}</h1>
  <a href="/colophon" class="link" aria-label="Back to colophon page">Back</a>
</header>

<article class="grid | markdown | gap-xx-large">
  {% renderMarkdown post.fields.contentMarkdown %}
</article>
