---
pagination:
  data: posts
  size: 1
  alias: post
permalink: "post/{{ post.fields.slug }}/"
layout: layout.njk
---

<header class="cross-line | gap-x-large">
  <h1 class="headline">{{ post.fields.title | fosterFamily | safe }}</h1>
  <a href="/journal" class="link" aria-label="Back to journal">Back</a>
</header>

<article class="grid | markdown | gap-xx-large">
  {% renderMarkdown post.fields.contentMarkdown %}
</article>
