.banner {
  --padding: var(--space-small);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - (var(--padding) * 2));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-small);
  background-color: var(--color-dark);

  & * {
    color: var(--color-light);
  }
}
