.books {
  --column-count: 3;
  --column-min: minmax(calc(var(--text-measure)/3), 1fr);

  @media screen and (min-width: 800) {
    --column-count: 6;
    --column-min: minmax(calc(var(--text-measure)/6), 1fr);
  }

  line-height: var(--text-leading-crushed);

  & p {
    min-height: 3lh
  }
}
