.caption {
  &::before {
    content: "Above";
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 600;
  }

  @media (min-width: 700px) {
    &::before {
      content: "Left";
    }
  }
}
