.grayscale-image {
  background-color: var(--color-bg);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-fg);
  }

  @media (min-width: 700px) {
    &[data-image-size="large"] {
      grid-column: 1 / 4;
    }
  }

  & img {
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-transform: translateZ(0);
    mix-blend-mode: multiply;
    filter: grayscale(1);
  }
}
