.grayscale-image {
  background-color: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  .grayscale-image {
    background-color: var(--color-primary);
  }
}

.grayscale-image img {
  mix-blend-mode: multiply;
}

@media (min-width: 700px) {
  .grayscale-image[data-image-size="large"] {
    grid-column: 1 / 4;
  }
}
