.image {
  background-color: var(--color-bg);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-fg);
  }

  @media (min-width: 700px) {
    &[data-image-size="large"] {
      grid-column: 1 / 4;
    }
  }

  &[data-image-size="xlarge"] {
    grid-column: 1 / 5;
  }
}
