.image {
  background-color: var(--color-bg);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-fg);
  }

  & img {
    width: 100%;
    height: auto;
    display: block;
    mix-blend-mode: multiply;
  }
}

.image[data-image-size="large"] {
  @media (min-width: 700px) {
    grid-column: 1 / 4;
  }
}
