.markdown {
  display: grid;
  margin-bottom: var(--space-xx-large);
  grid-row-gap: var(--space-default);

  @media screen and (min-width: 600px) {
    & {
      grid-template-columns: 2fr 1fr;
      grid-column-gap: var(--space-large);
    }

    & > *:not(aside, figcaption, figure) {
      grid-column: 1;
    }

    & figure {
      grid-column: 1 / 4;
    }
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 50ch 20ch;
    grid-column-gap: var(--space-large);
  }

  & p:has(img) {
    grid-column: 1 / 3;
  }

  & *:is(h2, h3, h4) {
    margin-top: var(--space-large);
    margin-bottom: 0;
  }
}
