.movies {
  --cols: 2;

  @media screen and (min-width: 700px) {
    & {
      --cols: 3;
    }
  }

  @media screen and (min-width: 900px) {
    & {
      --cols: 6;

      grid-gap: var(--space-default);
    }
  }
}
