.quote {
  font-family: var(--text-heading);
  font-size: var(--text-size-medium);
  position: relative;
}

.quote::before {
  content: "“";
  font-size: calc(var(--text-size-large) * 1.5);
  font-family: var(--text-heading);
  opacity: 0.5;
  position: absolute;
  left: -1.5rem;
  line-height: 1;

  @media screen and (min-width: 800px) {
    font-size: calc(var(--text-size-large) * 2);
    left: -2rem;
    top: -0.1rem;
  }
}
