.sidenote {
  position: relative;
  max-width: 30ch;

  @media screen and (min-width: 600px) {
    & small {
      position: absolute;
    }
  }

  & small {
    --flow-space: var(--space-small);

    display: block;
    border-left: var(--border-default);
    padding-left: var(--space-default);
  }
}
