@font-face {
  font-family: "GT America Extended";
  font-weight: 600;
  font-style: bold;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("GT America Trial Ext Md");
}

@font-face {
  font-family: "Blanco";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/Blanco-Regular.woff2) format("woff2"),
    url(/fonts/Blanco-Regular.woff) format("woff");
}

@font-face {
  font-family: "Blanco";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("Blanco Trial Italic");
}

@font-face {
  font-family: "Pitch";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("PitchTest-Semibold");
}
