@font-face {
  font-family: "GT America Extended";
  font-weight: 600;
  font-style: bold;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url(/fonts/GT-America-Extended-Medium.woff2) format("woff2"),
    url(/fonts/GT-America-Extended-Medium.woff) format("woff");
}

@font-face {
  font-family: "Blanco";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url(/fonts/Blanco-Regular.woff2) format("woff2"),
    url(/fonts/Blanco-Regular.woff) format("woff");
}

@font-face {
  font-family: "Blanco";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url(/fonts/Blanco-Italic.woff2) format("woff2"),
    url(/fonts/Blanco-Italic.woff) format("woff");
}

@font-face {
  font-family: "Blanco";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url(/fonts/Blanco-Medium.woff2) format("woff2"),
    url(/fonts/Blanco-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pitch";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url(/fonts/pitch-web-semibold.woff2) format("woff2"),
    url(/fonts/pitch-web-semibold.woff) format("woff");
}

@font-face {
  font-family: "Pitch";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url(/fonts/pitch-web-semibold-italic.woff2) format("woff2"),
    url(/fonts/pitch-web-semibold-italic.woff) format("woff");
}
