---
title: Product Designer
description: "Personal site, blog, and portfolio of Luke Mitchell, a design director, product designer, and UI developer."
---
{% set pageTitle = post.fields.title if post.fields.title else title %}
{% set pageDescription = post.fields.description if post.fields.description else description %}
{% set fonts = ["signifier-web-light", "signifier-web-light-italic", "Blanco-Regular", "Blanco-Medium", "Blanco-Italic", "pitch-web-semibold"] %}
<!DOCTYPE html>
<html lang="en" class="{{ theme }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Luke Mitchell | {{ pageTitle }}" name="title" />
    <meta content="Luke Mitchell | {{ pageTitle }}" name="twitter:title" />
    <meta content="{{ pageDescription }}" name="description" />
    <meta content="{{ pageDescription }}" name="twitter:description" />
    <meta content="{{ pageDescription }}" property="og:description" />
    <meta content="en" property="og:locale" />
    <title>Luke Mitchell | {{ pageTitle }}</title>
    <link rel="icon" href="/assets/images/favicon.ico">
    <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    {% for font in fonts %}
    <link rel="preload" href="/assets/fonts/{{ font }}.subset.woff2" as="font" type="font/woff2" crossorigin="" />
    {% endfor %}
    <link rel="preconnect" href="https://images.ctfassets.net" />
    <link rel="preconnect" href="https://dr.savee-cdn.com" />
    <link rel="preconnect" href="https://i.scdn.co/" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {% include "_includes/nav.html" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "_includes/footer.html" %}
  </body>
</html>
