<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="/assets/fonts/GT-America-Extended-Medium.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/assets/fonts/Blanco-Regular.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/assets/fonts/Blanco-Medium.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/assets/fonts/Blanco-Italic.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/assets/fonts/pitch-web-semibold.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/assets/fonts/pitch-web-semibold-italic.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link rel="stylesheet" href="/assets/style.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"
      defer
    ></script>
  </head>
  <body>
    <nav class="grid | nav">
      <a href="/" class="headline" data-crushed
        >Luke Mitchell<br />Product Designer</a
      >
      <ul class="horizontal" data-space="large" data-plain>
        <li><a href="/about/" class="link">About</a></li>
        <li><a href="/journal/" class="link">Journal</a></li>
        <li><a href="/bookmarks/" class="link">Bookmarks</a></li>
      </ul>
    </nav>

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
