<script>
  // Alpine JS: Display Spotify now-playing data
  function nowPlaying() {
    return {
      // Placeholder data
      track: {
        title: "Nothing playing",
        artist: "Spotify",
        url: "https://open.spotify.com/user/lkemitchll",
      },
      // fetch data from Netlify function
      fetchData() {
        fetch("/.netlify/functions/now-playing")
          .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP status ${response.status}`);
            } else {
              return response.json();
            }
          })
          .then((json) => {
            this.track = json;
          })
          .catch((error) => null);
      },
    };
  }
</script>

<div
  class="now-playing track | gap-large"
  x-data="nowPlaying()"
  x-init="fetchData()"
>
  <div>
    <a
      x-bind:href="track.url"
      target="_blank"
      rel="noreferrer noopener"
      x-text="track.title"
    >
      Title
    </a>
    <p class="small-text | color-secondary" x-text="track.artist">Artist</p>
  </div>
</div>
