{% set recentlyRead = list | findByID("2uust09L73V2AcXwl3F80h") %}
<article id="reading" class="gap-xx-large">
  <h2>{{ recentlyRead.fields.title }}</h2>
  <ul class="flow gap-large">
    {% for item in recentlyRead.fields.items %}
    <li>
      <a href="{{ item.fields.url }}"
          target="_blank"
          rel="noreferrer"
      >
        {{ item.fields.title }}
      </a>
      <p>
        <em>
          {{ item.fields.type }}&mdash;{{ item.fields.author }}
        </em>
      </p>
    </li>
    {% endfor %}
  </ul>
</article>
