<h2 class="tertiary-title | gap color-secondary">Site Index</h2>
<details class="accordian | tertiary-text" open>
  <summary class="gap">1. General</summary>
  <ol class="flow | gap">
    <li>
      <a class="link" href="/work">Work</a>
      <p class="color-secondary">A bit about my process.</p>
    </li>
    <li>
      <a class="link" href="/about">About</a>
      <p class="color-secondary">Read more about me.</p>
    </li>
    <li>
      <a class="link" href="/journal">Journal</a>
      <p class="color-secondary">A blog, audio-visual tracker.</p>
    </li>
    <li>
      <a class="link" href="/bookmarks">Bookmarks</a>
      <p class="color-secondary">A list of interesting links.</p>
    </li>
  </ol>
</details>
<details class="accordian | tertiary-text">
  <summary class="gap">2. Information</summary>
  <ol class="flow | gap">
    <li>
      <a class="link" href="/colophon">Colophon</a>
      <p class="color-secondary">A meta blog.</p>
    </li>
    <li>
      <a class="link" href="/uses">Uses</a>
      <p class="color-secondary">A list of my current equipment.</p>
    </li>
    <li>
      <a class="link" href="/feeds">Feeds</a>
      <p class="color-secondary">A list of RSS feeds I follow.</p>
    </li>
  </ol>
</details>
<details class="accordian | tertiary-text">
  <summary class="gap">3. Contact</summary>
  <ol class="horizontal gap" data-plain>
    <li>
      <a class="link" href="mailto:luke@interroban.gg">Email</a>
    </li>
    <li>
      <a
        class="link"
        href="https://www.twitter.com/lkemitchll"
        target="_blank"
        rel="noreferrer"
        >Twitter</a
      >
    </li>
    <li>
      <a
        class="link"
        href="https://www.linkedin.com/in/luke-mitchell-69ba421b3/"
        target="_blank"
        rel="noreferrer"
        >LinkedIn</a
      >
    </li>
  </ol>
</details>
<details class="accordian | tertiary-text">
  <summary class="gap">4. Elsewhere</summary>
  <ol class="horizontal gap" data-plain>
    <li>
      <a
        class="link"
        href="https://dribbble.com/Interrobang"
        target="_blank"
        rel="noreferrer"
        >Dribbble</a
      >
    </li>
    <li>
      <a
        class="link"
        href="https://www.pinterest.co.uk/lkemitchll/pins/"
        target="_blank"
        rel="noreferrer"
        >Pinterest</a
      >
    </li>
    <li>
      <a
        class="link"
        href="https://www.github.com/lkemitchll"
        target="_blank"
        rel="noreferrer"
        >GitHub</a
      >
    </li>
  </ol>
</details>
