.columns {
  display: grid;
  grid-gap: var(--row-gap, var(--space-large)) var(--gap, var(--space-large));
  grid-template-columns: repeat(var(--cols, 1), minmax(0, 1fr));

  &[data-row-gap="none"] {
    grid-row-gap: 0;
  }

  @media (min-width: 700px) {
    & {
      grid-column-gap: var(--space-x-large);
      grid-template-columns: repeat(var(--cols, 4), minmax(0, 1fr));
    }

    &[data-cols="2"] {
      --cols: 2;
    }
  }
}
