.columns {
  display: grid;
  grid-gap: var(--row-gap, var(--space-large)) var(--gap, var(--space-large));
}

@media (min-width: 700px) {
  .columns {
    grid-column-gap: var(--space-x-large);
    grid-template-columns: repeat(var(--cols, 4), minmax(0, 1fr));
  }

  .columns[data-cols="2"] {
    --cols: 2;
  }

  .columns[data-cols="3"] {
    --cols: 3;
  }

  .columns * {
    grid-column: var(--position, auto);
  }

  .columns .grayscale-image[data-image-size="large"] {
    grid-column: 1 / 4;
  }

  .col-4 {
    grid-column: 4 / 5;
  }
}
