.horizontal {
  display: flex;

  & > *:not(:last-child) {
    margin-right: var(--gap, 1rem);
  }

  @media (min-width: 700px) {
    & > * {
      --gap: 2rem;
    }
  }

  @media (max-width: 700px) {
    &[data-responsive] {
      display: block;
    }

    &[data-responsive] > * {
      margin-bottom: var(--space-tiny);
    }
  }
}

