.horizontal {
  display: flex;
}

.horizontal > *:not(:last-child) {
  margin-right: var(--gap, 1rem);
}

@media (min-width: 600px) {
  .horizontal > * {
    --gap: 2rem;
  }
}

@media (max-width: 600px) {
  .horizontal[data-responsive] {
    display: block;
  }

  .horizontal[data-responsive] > * {
    margin-bottom: var(--space-tiny);
  }

  .horizontal[data-responsive] hr {
    opacity: 0;
  }
}
