.masonry {
  --column-count: 2;
  --column-min: 1fr;
  --column-gap: var(--space-default);

  @media screen and (min-width: 700px) {
    --column-count: 5;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: var(--space-default);
  }

  & a {
    background-color: initial;
    padding: 0;
    border: 0;
  }
}
