.masonry {
  columns: var(--cols, 4);
  column-gap: var(--space-default);

  & a {
    background-color: initial;
    padding: 0;
    border: 0;
  }

  & * {
    margin: 0 0 var(--space-default);
  }
}
