.switcher {
  --threshold: 40rem;
  --space: var(--space-small);

  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--space-small);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
  margin: calc(var(--space) / 2);
}

.switcher-aside {
  flex-grow: 0.5;
}
