/* u: Horizontal */

.horizontal {
  display: flex;
}

.horizontal > * {
  margin-right: var(--gap, 2rem);
}

.horizontal *:last-child {
  margin-right: 0;
}

@media (min-width: 800px) {
  .sm-horizontal {
    display: block;
  }
}

/* u: Push */

.push-down {
  margin-top: auto;
}

.push-right {
  margin-left: auto;
}

/* u: Measure */

.measure {
  max-width: calc(100vw - var(--space-default) * 2);
}

@media (min-width: 600px) {
  .measure {
    max-width: var(--text-measure);
  }
}

/* u: Gap */

.gap {
  margin-bottom: var(--space-default);
}

.gap-small {
  margin-bottom: var(--space-small);
}

.gap-medium {
  margin-bottom: var(--space-medium);
}

.gap-large {
  margin-bottom: var(--space-large);
}

.gap-x-large {
  margin-bottom: var(--space-large);
}

.gap-xx-large {
  margin-bottom: var(--space-x-large);
}

@media (min-width: 800px) {
  .gap-x-large {
    margin-bottom: var(--space-x-large);
  }

  .gap-xx-large {
    margin-bottom: var(--space-xx-large);
  }
}

/* u: Pad */

.pad-r-small {
  padding-right: var(--space-small);
}

.pad-t-large {
  padding-top: var(--space-large);
}

/* u: Leading */

.leading-crushed {
  line-height: var(--text-leading-crushed);
}

.leading-small {
  line-height: var(--text-leading-heading);
}

/* u: Text */

.tertiary-text {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
}

.small-text {
  font-size: var(--text-size-small);
}

.inline {
  display: inline;
}

/* u: Visibility */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* u: Grow */

.grow {
  flex-grow: 1;
}

/* u: Border */

.border {
  border-bottom: var(--border-default);
}
