---
layout: layouts/default
title: About
theme: yellow
---

<header class="flow | gap-x-large">
  <h1>About</h1>
  <p class="measure">
    I’ve been a designer and front-end engineer for more than 10 years.
    I started out as a Graphic Designer, around 2014 I transitioned to Product Design.
    Since then I have worked with clients of all sizes in many different industries.
  </p>
</header>

{% set toc = ["Now", "Experience", "Clients", "Skills", "Recognition", "History"] %}
{% include "toc.njk" %}

<figure class="columns flow | gap-xx-large">
  {% image "ae9f9db0-ecc5-4d0b-b356-0e70d77ded7a", "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
  <figcaption class="measure | push-down leading-crushed">
    <small>
      <strong class="tertiary-text">Image </strong>
      Presenting mini storyboards during a Product Design workshop. Courtesy of
      <a href="https://www.francisaugusto.co.uk" target="_blank">Francis Augusto</a>.
    </small>
  </figcaption>
</figure>

<article class="gap-large">
  <h2 id="now">Now</h2>
  <p class="measure">
    I am currently a Design Director at <a href="https://www.thoughtbot.com" target="_blank">thoughtbot</a>.
    I still work with clients on a daily basis designing and building new products.
    I also mentor a team of designers, and help grow the business.
  </p>
</article>

<article class="columns | gap-xx-large">
  <div>
    {% set experience = cv.experience %}
    <h3 id="experience" class="subtitle">Experience</h3>
    <ul class="flow">
      {% for job in experience %}
      <li>
        <p class="tertiary-text">{{ job.period }}</p>
        <p>{{ job.title }}</p>
        <p><em>{{ job.employer }}</em></p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3 id="clients" class="subtitle">Clients</h3>
    <ul>
      {% for client in cv.clients %}
      <li>{{ client }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3 id="skills" class="subtitle">Skills</h3>
    <ul>
      {% for skill in cv.skills %}
      <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3 id="recognition" class="subtitle">Recognition</h3>
    <ul class="flow">
      {% set awards = cv.recognition %}
      {% for award in awards %}
      <li>
        <a href="{{ award.url }}" target="_blank" rel="noopener noreferrer">
          {{ award.source }}
        </a>
        <p>{{ award.date }} </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>

<article class="markdown | flow gap-xx-large" id="about">
  {{ content | safe }}
</article>
