---
layout: layouts/default.html
title: About
theme: yellow
---

<h1 class="banner">
  <em>About&mdash;</em>I've been a designer for 10 years, gaining experience
  working with clients of all sizes, spanning many industries.
</h1>
<hr class="gap-large">

{% set toc = ["History", "Experience", "Clients", "Skills", "Recognition"] %}
{% include "toc.html" %}

<figure class="columns flow | gap-xx-large">
  {% image "ae9f9db0-ecc5-4d0b-b356-0e70d77ded7a", "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
  <figcaption class="measure | push-down leading-crushed">
    <small>
      <strong class="tertiary-text">Image </strong>
      Presenting mini storyboards during a Product Design workshop. Courtesy of
      <a href="https://www.francisaugusto.co.uk" target="_blank">Francis Augusto</a>.
    </small>
  </figcaption>
</figure>

<article class="markdown | flow gap-xx-large" id="about">
  {{ content | safe }}
</article>

<article class="columns | gap-xx-large">
  <div>
    {% set experience = cv.experience %}
    <h3 id="experience" class="subtitle">Experience</h3>
    <ul class="flow">
      {% for job in experience %}
      <li>
        <p class="tertiary-text">{{ job.period }}</p>
        <p>{{ job.title }}</p>
        <p><em>{{ job.employer }}</em></p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3 id="clients" class="subtitle">Clients</h3>
    <ul>
      {% for client in cv.clients %}
        <li>{{ client }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3 id="skills" class="subtitle">Skills</h3>
    <ul>
      {% for skill in cv.skills %}
        <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3 id="recognition" class="subtitle">Recognition</h3>
    <ul class="flow">
      {% set awards = cv.recognition %}
      {% for award in awards %}
        <li>
          <a href="{{ award.url }}" target="_blank" rel="noopener noreferrer">
            {{ award.source }}
          </a>
          <p>{{ award.date }} </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>
