---
layout: layouts/default
title: About
toc: ["Now", "Experience", "Clients", "Skills", "Recognition", "History"]
---

<header class="flow | gap-x-large">
  {% include "components/nav.njk" %}
  <p class="measure">
    I’ve been a designer and front-end engineer for more than {{ dates.yearsSinceIBecameADesigner() }} years.
    I started out as a Graphic Designer, around 2014 I transitioned to Product Design.
    Since then I have worked with clients of all sizes in many different industries.
  </p>
</header>

{% include "components/toc.njk" %}

{% set image_ID = "ae9f9db0-ecc5-4d0b-b356-0e70d77ded7a" %}
{% set image_alt = "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
{% include "components/image.njk" %}

<article class="gap-large">
  <h2 id="now">Now</h2>
  <p class="measure">
    I am currently a Design Director at <a href="https://www.thoughtbot.com">thoughtbot</a>.
    I still work with clients on a daily basis designing and building new products.
    I also mentor a team of designers, and help grow the business.
  </p>
</article>

{% include "components/experience.njk" %}

<article class="markdown | gap-xx-large">
  {{ content | safe }}
</article>
