---
layout: layouts/default
title: Colophon
theme: green
---

<header class="flow | gap-x-large">
  <h1>Colophon</h1>
  <p class="measure">
    This is a development blog, also a list of people, resources and tools
    that have made this site what it is. Check back regularly, as I try to keep
    this up-to-date, when I get time.
  </p>
  <hr>
</header>

<article class="flow | gap-xx-large">
  <div class="flow | gap-large">
    <h2>Updates</h2>
    {% set posts = collections.metapost | reverse %}
    {% include "components/posts.njk" %}
    {% include "components/commits.njk" %}
    <hr />
  </div>
  <section class="markdown">
    {{ content | safe }}
  </section>
</article>
