---
title: Product Designer
description: "Personal site, blog, and portfolio of Luke Mitchell, a design director, product designer, and UI developer."
---

{% set pageTitle = post.fields.title if post.fields.title else title %}
{% set pageDescription = post.fields.description if post.fields.description else description %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luke Mitchell | {{ pageTitle }}</title>

    <meta content="Luke Mitchell | {{ pageTitle }}" name="title" />
    <meta content="{{ pageDescription }}" name="description" />

    <meta content="Luke Mitchell | {{ pageTitle }}" name="twitter:title" />
    <meta content="{{ pageDescription }}" name="twitter:description" />

    <meta content="{{ pageDescription }}" property="og:description" />
    <meta content="en" property="og:locale" />

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/favicon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">

    <link rel="preconnect" href="https://ucarecdn.com" />
    <link rel="preconnect" href="https://assets.interroban.gg" />
    <link rel="preconnect" href="https://dr.savee-cdn.com" />
    <link rel="preconnect" href="https://a.ltrbxd.com" />

    <link rel="stylesheet" href="/site.css" />
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
  </body>
</html>
