---
layout: layouts/default
nav: false
history: false
---

<ul class="tertiary-text gap-x-large" role="list">
  <li>Tags: <span class="tag">{{ type | default: "Post" }}</span></li>
  <li>Date: {{ date | date_to_string }}</li>
</ul>

<article class="h-entry hentry | markdown | gap-x-large">
  {{ content }}
</article>

{% include "components/commits.liquid" %}
