---
layout: layouts/default
title: Uses
theme: yellow
---

<header class="flow | gap-x-large">
  <h1>Uses</h1>
  <p class="measure">
    This is a fairly living list of my design, development and personal setups.
    Including software, hardware and as much detail in between. This page
    follows many of those who have contributed to
    <a href="https://uses.tech" target="_blank">uses.tech</a>
  </p>
</header>

<article class="columns | gap-x-large">
  {% image "24bf2f60-1f04-47c5-b15a-5ebf461fa8c1", "A photo of my desk setup, including a Mac mini, Dell monitor, Anglepoise lamp, and my IKEA Bekant sit-stand desk." %}
  <p class="measure | push-down leading-crushed">
    <small>
      <strong class="tertiary-text">Image </strong>
      A photo of my desk setup, including a Mac mini, Dell monitor, Anglepoise
      lamp, and my IKEA Bekant sit-stand desk.
    </small>
  </p>
</article>

<article class="markdown | gap-xx-large">
  {{ content | safe }}
</article>
