---
layout: layouts/default.html
title: Uses
theme: yellow
---

<header class="flow | hero | gap-x-large">
  <h1 class="headline">Uses</h1>
  <section class="markdown">
    <p>
      This is a fairly living list of my design, development and personal setups.
      Including software, hardware and as much detail in between. This page
      follows many of those who have contributed to
      <a href="https://uses.tech" target="_blank">uses.tech</a>
    </p>
  </section>
  <hr>
</header>

{% set deskImage = assets | findByID("1c4JuakaETS6Z15ssCSTEF") %}
<article class="columns | gap-x-large">
  <div class="col-two-thirds | grayscale-image">
    {% image deskImage, "threeQuarters" %}
  </div>
  <p class="measure | push-down leading-crushed">
    <small>
      <strong class="tertiary-text">Image </strong> {{ deskImage.fields.description }}
    </small>
  </p>
</article>

<article class="markdown | flow | gap-xx-large">
  {{ content | safe }}
</article>
