/* u: Flow */

.flow > * + * {
  margin-top: var(--flow-space, 2rem);
}

/* u: Horizontal */

.horizontal,
.sm-horizontal {
  display: flex;
}

.horizontal > *,
.sm-horizontal > * {
  margin-right: var(--gap, 2rem);
}

.horizontal *:last-child {
  margin-right: 0;
}

@media (min-width: 800px) {
  .sm-horizontal {
    display: block;
  }
}

/* u: Push */

.push-down {
  margin-top: auto;
}

.push-right {
  margin-left: auto;
}

.push-apart {
  justify-content: space-between;
}

/* u: Measure */

.measure {
  max-width: var(--text-measure);
}

/* u: Color */

.color-secondary {
  color: var(--color-secondary);
}

/* u: Gap */

.gap {
  margin-bottom: var(--space-default);
}

.gap-small {
  margin-bottom: var(--space-small);
}

.gap-large {
  margin-bottom: var(--space-large);
}

.gap-x-large {
  margin-bottom: var(--space-large);
}

.gap-xx-large {
  margin-bottom: var(--space-x-large);
}

@media (min-width: 800px) {
  .gap-x-large {
    margin-bottom: var(--space-x-large);
  }

  .gap-xx-large {
    margin-bottom: var(--space-xx-large);
  }
}

/* u: Pad */

.pad-r-small {
  padding-right: var(--space-small);
}

.pad-r-large {
  padding-right: var(--space-large);
}

/* u: Leading */

.leading-crushed {
  line-height: var(--text-leading-crushed);
}

/* u: Text */

.tertiary-text {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
}

.small-text {
  font-size: var(--text-size-small);
}

.flush-right {
  text-align: right;
}

.centered {
  text-align: center;
}

/* u: Visibility */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* u: Grow */

.grow {
  flex-grow: 1;
}
