---json
{
  "permalink": "feeds/bookmarks.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Luke Mitchell | Bookmarks",
    "subtitle": "I try and keep track of all the interesting things I find on my travels around the web. Because the internet never stops changing, as this list gets older things will begin to decay and disappear. So this isn’t an archive as such, it’s a log.",
    "url": "https://www.interroban.gg/bookmarks",
    "feedUrl": "https://www.interroban.gg/feeds/bookmarks.xml",
    "author": {
      "name": "Luke Mitchell",
      "email": "luke@interroban.gg"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self" />
  <link href="https://www.interroban.gg/bookmarks" />
  <updated>{{ bookmarks[0].date }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {% for bookmark in bookmarks | reverse %}
    <entry>
      <title>Bookmark: {{ bookmark.title }}</title>
      <link href="{{ bookmark.url }}" />
      <id>{{ bookmark.url | url }}/</id>
      <updated>{{ bookmark.date }}</updated>
      <summary>{{ bookmark.title }}</summary>
      <content type="html">
        {% set content %}
          <p>Link: <a href="{{ bookmark.url }}">{{ bookmark.title }}</a></p>
          <ul>
            {% if bookmark.viaURL %}
            <li>
              Via:
              <a href="{{ bookmark.viaURL }}">
                {{ bookmark.viaName }}
              </a>
            </li>
            {% endif %}
            <li>Added: {{ bookmark.date }}</li>
            <li>Tag: {{ bookmark.tag }}</li>
          </ul>
        {% endset %}
        {{ content | string }}
      </content>
    </entry>
  {% endfor %}
</feed>
