/* u: Horizontal */

.horizontal {
  display: flex;
}

.horizontal > * {
  margin-right: var(--gap, 2rem);
}

/* u: Align */

.align {
  align-items: center;
}

/* u: Flow */

.flow > * + * {
  margin-top: var(--flow-space, 2rem);
}

/* u: Measure */

.measure {
  max-width: var(--text-measure);
}

/* u: Color */

.color-secondary {
  color: var(--color-secondary);
}

/* u: Gap */

.gap-large {
  margin-bottom: var(--space-large);
}

.gap-xx-large {
  margin-bottom: var(--space-xx-large);
}
