---
layout: layouts/default
title: Work
introduction: >
  What I’ve been doing recently, a blog, a scrapbook,
  and a place to show what I am currently listening to and watching.
  It’s also a bit of playground to grab data from a few services I like.
toc: ["About", "Case Studies", "Highlights", "Experience", "Roles", "Clients", "Skills", "Recognition"]
---

<div class="gap-xx-large">
  {% assign image_ID = "ae9f9db0-ecc5-4d0b-b356-0e70d77ded7a" %}
  {% assign image_alt = "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
  {% include "components/image.liquid" %}
</div>


<article class="gap-xx-large">
  <h2 id="about">About</h2>
  <div class="markdown">
    <p>What I’ve been doing recently, a blog, a scrapbook, and a place to show what I am currently listening to and watching. It’s also a bit of playground to grab data from a few services I like.</p>
    <ul>
      <li>Earn, impart, and summon trust</li>
      <li>Continuously improve myself, others and everything I work on</li>
      <li>Uphold quality in the spirit of progressive enhancement</li>
      <li>Practice and teach self-management</li>
      <li>Seek fulfilment in everything I do</li>
    </ul>
    <p>You can read more about me on the <a href="/about">/about</a> page.</p>
  </div>
</article>

<article class="gap-xx-large">
  <div class="columns | gap-xx-large" style="--column-count: 5">
    <div style="grid-column: 1 / 3;">
      <h2 id="case-studies">Case Studies</h2>
      <p>What I’ve been doing recently, a blog, a scrapbook, and a place to show what I am currently listening to and watching. It’s also a bit of playground to grab data from a few services I like.</p>
    </div>

    <div style="grid-column: 4 / 6;">
      <blockquote class="quote">
        <p>
          Luke was able to take [the clients] loose requirements and turn around
          a well-thought-out, high-fidelity prototype in a matter of hours. He
          did a great job walking the client through his thought process,
          communicating his design decisions, and bringing the client’s vision to
          life.
        </p>
      </blockquote>
    </div>
  </div>

  <ul role="list" class="flow">
    <li class="columns" style="--column-count: 5">
      <div class="flow" style="grid-column: 1 / 3">
        <h3>Locked</h3>
        <p>What I’ve been doing recently, a blog, a scrapbook, and a place to show what I am currently listening to and watching. It’s also a bit of playground to grab data from a few services I like.</p>
        <p><a href="/work/case-studies/example">Read more</a></p>
      </div>
      <figure style="grid-column: 3 / 6">
        <img src="#" alt="" />
      </figure>
    </li>
    <li class="columns" style="--column-count: 5">
      <div class="flow" style="grid-column: 1 / 3">
        <h3>Contractuali</h3>
        <p>What I’ve been doing recently, a blog, a scrapbook, and a place to show what I am currently listening to and watching. It’s also a bit of playground to grab data from a few services I like.</p>
        <p><a href="#">Read more</a></p>
      </div>
      <figure style="grid-column: 3 / 6">
        <img src="#" alt="" />
      </figure>
    </li>
    <li class="columns" style="--column-count: 5">
      <div class="flow" style="grid-column: 1 / 3">
        <h3>Samaritans</h3>
        <p>What I’ve been doing recently, a blog, a scrapbook, and a place to show what I am currently listening to and watching. It’s also a bit of playground to grab data from a few services I like.</p>
        <p><a href="#">Read more</a></p>
      </div>
      <figure style="grid-column: 3 / 6">
        <img src="#" alt="" />
      </figure>
    </li>
  </ul>
</article>

<article class="gap-xx-large">
  <div class="columns | gap-xx-large" style="--column-count: 5">
    <div style="grid-column: 1 / 3;">
      <h2 id="highlights">Highlights</h2>
      <p>What I’ve been doing recently, a blog, a scrapbook, and a place to show what I am currently listening to and watching. It’s also a bit of playground to grab data from a few services I like.</p>
    </div>

    <div style="grid-column: 4 / 6;">
      <blockquote class="quote">
        <p>
          Luke has a great approach of clearly outlining the problems, then
          talking through the process / approach that we recommend, all while
          overcoming potential objections and last-minute questions along the
          way.
        </p>
      </blockquote>
    </div>
  </div>
  <ul role="list" class="columns">
    {% for highlight in collections.highlights %}
    <li>
      <img src="#" alt="" />
      <h3><a href="{{ highlight.url }}">{{ highlight.data.title }}</a></h3>
    </li>
    {% endfor %}
  </ul>
</article>

<div class="columns | gap-x-large" style="--column-count: 5">
  <div style="grid-column: 1 / 3;">
    <h2 id="experience">Experience</h2>
    <p>What I’ve been doing recently, a blog, a scrapbook, and a place to show what I am currently listening to and watching. It’s also a bit of playground to grab data from a few services I like.</p>
  </div>
  <div style="grid-column: 4 / 6;">
    <style>
      .quote {
        font-family: var(--text-display);
        font-size: var(--text-size-large);
        font-style: italic;
        position: relative;
      }

      .quote::before {
        content: "“";
        font-size: 3rem;
        font-style: normal;
        opacity: 0.8;
        position: absolute;
        left: -2rem;
        top: 0;
        line-height: 1;
      }
    </style>
    <blockquote class="quote | gap">
      <p>
        Luke has continued to excel as a manager, always providing me with
        a safe space to express myself, as well as offering guidance,
        resources, additional perspectives and support throughout different
        challenges and phases of my professional growth.
      </p>
    </blockquote>
  </div>
</div>

{% include "components/experience.liquid" %}
