---
layout: layouts/default
title: Work
introduction:
  What I’ve been doing recently, a blog, a scrapbook,
  and a place to show what I am currently listening to and watching.
  It’s also a bit of playground to grab data from a few services I like.
toc: ["About", "Case Studies", "Highlights", "Toolkit", "Experience", "Roles", "Clients", "Skills", "Recognition"]
---

<div class="gap-xx-large">
  {% assign image_ID = "ae9f9db0-ecc5-4d0b-b356-0e70d77ded7a" %}
  {% assign image_alt = "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
  {% include "components/image.liquid" %}
</div>

<article class="gap-xx-large">
  <h2 id="about">About</h2>
  <div class="markdown">
    <p>I am a principle/director level product design generalist, manager and design engineer.</p>
    <p>I am happy working on problems and projects of any size, and capable of producing results as the leading designer
      on teams of all sizes.</p>
    <p>I share my values with <a href="https://thoughbot.com">thoughtbot</a>, with a few tweaks.</p>
    <ul>
      <li>Earn, impart, and summon trust</li>
      <li>Continuously improve myself, others and everything I work on</li>
      <li>Uphold quality in the spirit of progressive enhancement</li>
      <li>Practice and teach self-management</li>
      <li>Seek fulfilment in everything I do</li>
    </ul>
    <p>You can read more about me on the <a href="/about">/about</a> page.</p>
  </div>
</article>

<article class="gap-xx-large">
  <div class="switcher flow | gap-xx-large">
    <div class="gap-x-large">
      <h2 id="case-studies">Case Studies</h2>
      <p class="measure">Below you will find some recent examples of my work, please
        <a href="mailto:luke@interroban.gg">get in touch</a> if you would like to talk more about my work on these
        projects.
      </p>
    </div>

    <div>
      <blockquote class="quote">
        <p>
          Luke was able to take [the clients] loose requirements and turn around
          a well-thought-out, high-fidelity prototype in a matter of hours. He
          did a great job walking the client through his thought process,
          communicating his design decisions, and bringing the client’s vision to
          life.
        </p>
      </blockquote>
    </div>
  </div>

  <ul role="list" class="flow">
    <li class="switcher | gap-x-large">
      <div class="flow | gap-large">
        <h3>Contractuali</h3>
        <p class="measure">Taking an innovative new, self-funded idea from zero to MVP. Rapid web app design and build.
        </p>
        <p><a href="/work/case-studies/contractuali">Read more</a></p>
      </div>
      <figure class="image">
        {% image "9747c073-211d-453e-9743-03a03d1279c6", "" %}
      </figure>
    </li>

    <li class="switcher">
      <div class="flow | gap-large">
        <h3 aria-label="Locked case study">&block;&block;&block;&block;&block;&block;&block;</h3>
        <p class="measure">Pivoting a business during a crisis. Multi-year app design and build. This case study
          requires a password to view.</p>
        <p><a href="/work/case-studies/mobile-app">Read more</a></p>
      </div>
      <figure class="image">
        {% image "2c0706c1-b0a8-4041-89ca-7c967b1e3041", "" %}
      </figure>
    </li>
  </ul>
</article>

<article class="flow | gap-xx-large">
  <div>
    <h2 id="highlights">Highlights</h2>
    <p>Below are some images of my previous projects, that I haven't got around to writing more about yet.</p>
  </div>
  <ul role="list" class="columns">
    <img src="#" alt="" class="gap" />
    <img src="#" alt="" class="gap" />
    <img src="#" alt="" class="gap" />
    <img src="#" alt="" class="gap" />
  </ul>
</article>

<article class="gap-xx-large">
  <div class="switcher flow | gap-xx-large">
    <div class="gap-x-large">
      <h2 id="toolkit">Toolkit</h2>
      <p class="measure">This a little place for me to write more about my process, techniques and other thoughts about
        my work.</p>
    </div>
    <div>
      <blockquote class="quote">
        <p>
          Luke has a great approach of clearly outlining the problems, then
          talking through the process / approach that we recommend, all while
          overcoming potential objections and last-minute questions along the
          way.
        </p>
      </blockquote>
    </div>
  </div>
  <ul role="list" class="columns">
    {% for post in collections.toolkit %}
    <li>
      <img src="#" alt="" class="gap" />
      <h3 class="subheading"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    </li>
    {% endfor %}
  </ul>
</article>

<div class="switcher flow">
  <div class="gap-x-large">
    <h2 id="experience">Experience</h2>
    <p class="measure">I’ve been a full-time designer and front-end engineer since 2011. I started out as a Graphic
      Designer, around
      2014 I transitioned to Product Design. Since then I have worked with clients of all sizes in many different
      industries.</p>
  </div>
  <div>
    <blockquote class="quote | gap-x-large">
      <p>
        Luke has continued to excel as a manager, always providing me with
        a safe space to express myself, as well as offering guidance,
        resources, additional perspectives and support throughout different
        challenges and phases of my professional growth.
      </p>
    </blockquote>
  </div>
</div>

{% include "components/experience.liquid" %}
