:root {
  --color-primary: hsla(115, 13%, 11%, 0.8);
  --color-bg: hsla(84, 100%, 99%, 1);
  --color-highlight: blueviolet;
  --space-tiny: 0.25rem;
  --space-small: 0.5rem;
  --space-default: 1rem;
  --space-medium: 1.5rem;
  --space-large: 2rem;
  --space-x-large: 3rem;
  --space-xx-large: 6rem;
  --text-size-default: 1rem;
  --text-size-large: 1.2rem;
  --text-size-small: 0.75rem;
  --text-weight-normal: 400;
  --text-weight-bold: 600;
  --text-display: "Signifier", "Georgia", "Times New Roman", "Times", serif;
  --text-body: "Blanco", "Georgia", "Times New Roman", "Times", serif;
  --text-mono: "Pitch", "Monaco", "Courier New", "Courier", monospace;
  --text-leading-default: 1.5;
  --text-leading-heading: 1.3;
  --text-leading-crushed: 1.1;
  --text-leading-relaxed: 1.6;
  --text-measure: 50ch;
  --border-width-default: 1px;
  --border-default: var(--border-width-default) dotted var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: hsla(36, 37%, 92%, 1);
    --color-bg: hsla(173, 20%, 12%, 1);
    --color-highlight: yellowgreen;
  }
}

.green {
  --color-primary: #455643;
  --color-bg: #e7ffc8;
}

@media (prefers-color-scheme: dark) {
  .green {
    --color-primary: #e7ffc8;
    --color-bg: #455643;
  }
}

.pink {
  --color-primary: #4a4356;
  --color-bg: #ffc8d5;
}

@media (prefers-color-scheme: dark) {
  .pink {
    --color-primary: #ffc8d5;
    --color-bg: #4a4356;
  }
}

.yellow {
  --color-primary: #564343;
  --color-bg: #fff3c8;
}

@media (prefers-color-scheme: dark) {
  .yellow {
    --color-primary: #fff3c8;
    --color-bg: #564343;
  }
}

.blue {
  --color-primary: #434d56;
  --color-bg: #c8ffee;
}

@media (prefers-color-scheme: dark) {
  .blue {
    --color-primary: #c8ffee;
    --color-bg: #434d56;
  }
}
