<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@LkeMitchll">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <!-- Facebook -->
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:url" content="http://interroban.gg"/>
  <meta property="og:site_name" content="Interrobang"/>
  <meta property="og:type" content="website"/>
  <link rel="stylesheet" href="{{ fingerprint.[site.css] }}">
</head>
<body>
  <section>
    <div class="ascii"></div>
    {{{ contents }}}
  </section>

  <script src="{{ fingerprint.[site.js] }}"></script>
</body>
</html>
