body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-text);
  font-feature-settings: "kern" 1, "liga" 1;
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0 auto;
  max-width: var(--site-width);
  text-rendering: optimizeLegibility;
  transition-property: color, background-color;
  transition-duration: var(--transition-duration);

  @media (--small-viewport) {
    font-size: var(--font-size-small);
    display: static;
    height: auto;
  }
}

.dark {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
