body {
  -webkit-font-smoothing: antialiased;
  color: var(--color-primary);
  font-family: var(--font-text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0 auto;
  max-width: var(--site-width);

  @media (--small-viewport) {
    font-size: var(--font-size-alt);
  }

  &.invert {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
}
