p {
  margin: 0 0 var(--spacing);

  &:last-of-type {
    margin: 0;
  }

  @media (--small-viewport) {
    margin: 0 0 var(--spacing-small);
  }
}

s {
  text-decoration: none;
  font-family: var(--font-emoji);
}
