h1,
h2 {
  margin: 0 0 var(--spacing);

  @media (--small-viewport) {
    margin-bottom: var(--spacing-small);
  }
}

h1 {
  font-family: var(--font-text-strong);
  font-size: inherit;
  font-weight: var(--font-weight-bold);

  &:hover {
    cursor: help;
  }

  & em {
    font-family: var(--font-text);
    font-size: var(--font-size);
    font-weight: normal;

    @media (--small-viewport) {
      font-size: var(--font-size-small);
    }
  }
}

h2 {
  font-family: var(--font-text);
  font-size: inherit;
  font-variant-caps: small-caps;
  text-transform: lowercase;
}

h3 {
  display: inline;
  font-family: var(--font-text-strong);
  font-size: inherit;
  font-weight: var(--font-weight-bold);
}
