.large,
.footer {
  grid-column: large;
  max-width: var(--measure);

  &:last-of-type {
    margin: 0;
  }
}

.small,
.scribble-container {
  grid-column: small;

  @media (--small-viewport) {
    grid-column: large;
  }
}

.large,
.small {
  margin: 0 0  var(--spacing-xlarge);

  /* grid fallback */
  float: left;

  @media (--small-viewport) {
    margin: 0 0 var(--spacing-large);
  }
}
