.project {
  margin: 0 0 var(--spacing);

  &:last-of-type {
    margin: 0;
  }

  & > h3,
  & > p {
    display: inline;
  }

  & a {
    display: inline-block;
    font-family: var(--font-alt);
    font-size: var(--font-size-alt);
    margin: var(--spacing-small) 0 0;

    @media (--small-viewport) {
      font-size: var(--font-size-small);
    }
  }
}
