.scribble-container {
  @media (--small-viewport) {
    display: none;
  }
}

.scribble {
  transform: translateX(-3rem) translateY(-3rem) scale(0.9);
  filter: contrast(100);
  mix-blend-mode: multiply;
  position: absolute;
}
