html {
  font-size: 22px;
  color: var(--color-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 42rem;
}

.tiempos {
  font-family: var(--font-text);
}

.courier-prime {
  font-family: var(--font-alt);
}

.smallcaps {
  font-variant-caps: small-caps;
}

.color-primary {
  color: var(--color-primary);
}
