:root {
  --font-text: "Tiempos Text", Georgia, Times New Roman, serif;
  --font-alt: "Input Mono", Monaco, monospace;
  --font-size: 1.25rem;
  --font-size-alt: 1rem;
  --font-weight-bold: 700;
  --site-width: 64rem;
  --spacing: 2rem;
  --spacing-large: 4rem;
  --measure: 30em;
}
