@font-face {
  font-family: "Tiempos Text Regular";
  font-weight: 400;
  src: url("fonts/TiemposTextWeb-Regular.eot");
  src:
    url("fonts/TiemposTextWeb-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/TiemposTextWeb-Regular.woff2") format("woff2"),
    url("fonts/TiemposTextWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text Semibold";
  font-weight: 600;
  src: url("fonts/TiemposTextWeb-Semibold.eot");
  src:
    url("fonts/TiemposTextWeb-Semibold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TiemposTextWeb-Semibold.woff2") format("woff2"),
    url("fonts/TiemposTextWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Courier Prime Medium";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/CourierPrime-Medium.eot");
  src:
    url("fonts/CourierPrime-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/CourierPrime-Medium.woff") format("woff"),
    url("fonts/CourierPrime-Medium.ttf") format("truetype"),
    url("fonts/CourierPrime-Medium.svg#CourierPrime-Medium") format("svg");
}

:root {
  --font-text: "Tiempos Text Regular", Times New Roman, system-ui;
  --font-text-strong: "Tiempos Text Semibold", Times New Roman, system-ui;
  --font-alt: "Courier Prime Medium", Courier, Monaco, monospace;
  --font-size: 1.4rem;
  --font-size-alt: 1.2rem;
  --font-size-small: 1rem;
  --font-size-x-small: 0.9rem;
  --font-weight-bold: 600;
  --site-width: 60rem;
  --measure: 30em;
  --line-height: 1.6;
  --spacing: 2.2rem;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-xsmall: calc(var(--spacing-small) / 2);
  --spacing-large: calc(var(--spacing) * 1.5);
  --spacing-xlarge: calc(var(--spacing-large) * 2);
  --color-primary: rgb(74, 74, 74);
  --color-secondary: rgb(255, 255, 255);

  @custom-media --small-viewport (max-width: 50em);
}
