@media (min-width: 800px) {
  .bookmark {
    display: flex;
    align-items: baseline;
    border-bottom: var(--border-default);
    padding-bottom: var(--space-small);
  }

  .bookmark * {
    margin-right: var(--space-large);
  }

  .bookmark *:nth-child(2) {
    flex-basis: 50%;
  }
}
