.with-footnotes aside {
  margin-top: var(--space-large);
  border-left: var(--border-default);
  padding-left: var(--space-default);
  height: min-content;
  max-width: 30ch;
}

.with-footnotes aside img {
  margin-bottom: var(--space-default);
}

.footnote-ref {
  color: var(--color-highlight);
}

.footnote-ref::before {
  content: "[";
}

.footnote-ref::after {
  content: "]";
}

.footnote-backlink {
  margin-left: 0.5em;
}

.footnote-title,
.footnote-backlink,
.footnote-ref {
  text-decoration: none;
}

@media (min-width: 900px) {
  .with-footnotes {
    position: relative;
    display: grid;
    grid-template-columns: fit-content(var(--text-measure)) 1fr;
  }

  .with-footnotes aside {
    margin-top: 0;
    margin-left: var(--space-large);
  }
}
