.link {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
  text-decoration: none;
  transition: border-color 0.25s ease;
  border-bottom: var(--border-width-default) solid var(--color-secondary);
}

.link:hover {
  border-color: var(--color-primary);
  font-style: italic;
}

.link[aria-current] {
  font-style: italic;
}
