.markdown {
  counter-reset: image-number;
}

.markdown :not(section) {
  max-width: 50ch;
}

.markdown h2 {
  font-size: var(--text-size-large);
}

.markdown h3 {
  font-size: var(--text-size-default);
  font-family: var(--text-body);
  font-weight: bold;
}

.markdown h3 + * {
  margin-top: -1rem;
}

.markdown * + h2 {
  margin-top: var(--space-x-large);
}

.markdown ul,
.markdown ol {
  padding-left: var(--space-default);
}

.markdown ul {
  list-style: circle;
}

.markdown ol {
  list-style: decimal;
}

.markdown .long-list {
  columns: 2;
}

.markdown :not(h3) + ul {
  margin-top: 1rem;
}
