.markdown {
  counter-reset: image-number;
}

.markdown :not(section) {
  max-width: 50ch;
}

.markdown h2,
.markdown h3 {
  font-size: var(--text-size-default);
}

.markdown h3 {
  font-family: var(--text-body);
}

.markdown h3 + * {
  margin-top: -1rem;
}

.markdown * + h2 {
  margin-top: var(--space-x-large);
}

.markdown ul {
  list-style: circle;
  padding-left: var(--space-default);
}

.markdown :not(h3) + ul {
  margin-top: 1rem;
}
