.columns header,
.columns section {
  grid-column: 1 / span 4;
}

@media (min-width: 600px) {
  .columns header {
    grid-column: 1 / span 3;
  }

  .columns section {
    grid-column: auto / span 2;
  }
}

@media (min-width: 1000px) {
  .columns header {
    grid-column: 2 / span 2;
  }

  .columns section {
    grid-row: 2;
    grid-column: auto;
  }
}
