.fifty-fifty > * {
  grid-column: 1 / span 4;
  grid-row: auto;
}

/* Swap item order for smaller screens */
.fifty-fifty[data-swap] > *:nth-child(2) {
  grid-row: 1;
}

@media (min-width: 800px) {
  .fifty-fifty > *:first-child {
    grid-column: 1 / span 2;
  }
  .fifty-fifty > *:nth-child(2n) {
    grid-column: 3 / span 2;
  }
}
