.quarters * {
  grid-column: 1 / span 4;
}

@media (min-width: 800px) {
  .quarters {
    grid-template-columns: repeat(3, 1fr);
  }

  .quarters * {
    grid-column: auto;
  }
}

@media (min-width: 1000px) {
  .quarters {
    grid-template-columns: repeat(4, 1fr);
  }
}
