.grid {
  display: grid;
  grid-column-gap: var(--space-large);
  grid-row-gap: var(--space-large);
  grid-template-columns: minmax(min(33vw, 25ch), 1fr);
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: minmax(min(33vw, 25ch), 1fr) minmax(min(66vw, 30ch), 3fr);
    grid-column-gap: var(--space-x-large);
  }

  .grid * {
    grid-column: var(--position, auto);
  }
}
