.grid {
  display: grid;
  grid-column-gap: var(--gap, var(--space-large));
  grid-row-gap: var(--row-gap, var(--space-large));
}

@media (min-width: 800px) {
  .grid {
    grid-column-gap: var(--space-x-large);
  }

  .grid * {
    grid-column: var(--position, auto);
  }
}
