.banner {
  font-size: 2.4vmax;
  text-indent: 5rem;
}

@media screen and (min-width: 800px) {
  .banner {
    font-size: 3vw;
    text-indent: 10rem;
  }
}

@media screen and (min-width: 1600px) {
  .banner {
    font-size: 2.3vw;
  }
}
