@media (min-width: 800px) {
  .bookmark {
    display: flex;
    align-items: flex-end;
    border-bottom: var(--border-default);
    padding-bottom: var(--space-small);
  }

  .bookmark * {
    margin-right: var(--space-large);
  }
}
