.link {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
  text-decoration: none;
  border-bottom: var(--border-default);
}

.link:hover {
  font-style: italic;
}

.link[aria-current] {
  font-style: italic;
}
