.markdown {
  display: grid;
  margin-bottom: var(--space-xx-large);
}

@media screen and (min-width: 600px) {
  .markdown {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: var(--space-large);
  }
}

@media screen and (min-width: 1024px) {
  .markdown {
    grid-template-columns: 50ch 20ch;
    grid-column-gap: var(--space-large);
  }
}

.markdown *:not(aside) {
  grid-column: 1;
}

@media screen and (min-width: 600px) {
  .markdown .grayscale-image[data-image-size="large"] {
    grid-column: 1 / 3;
  }
}

.markdown h1,
.markdown h2,
.markdown h3 {
  margin-bottom: 0;
}

.markdown ul,
.markdown ol {
  padding-left: var(--space-default);
}

.markdown ul {
  list-style: circle;
}
