.markdown {
  counter-reset: image-number;
}

.markdown :not(section, aside, figure, figcaption, pre, img) {
  max-width: var(--text-measure);
}

.markdown ul,
.markdown ol {
  padding-left: var(--space-default);
}

.markdown ul {
  list-style: circle;
}

.markdown ol {
  list-style: decimal;
}
