.with-sidenotes sup {
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
}

.sidenote-ref {
  color: var(--color-highlight);
  text-decoration: none;
}

ol.footnotes-list {
  list-style: none;
  padding-left: 0;
}

.footnote-item {
  margin-top: var(--space-large);
  border-left: var(--border-default);
  padding-left: var(--space-default);
  font-size: var(--text-size-small);
  max-width: 30ch;
}

.footnote-item img {
  margin-bottom: var(--space-default);
}

.sidenote-backlink {
  margin-left: var(--space-small);
}

@media (min-width: 900px) {
  .with-sidenotes {
    display: grid;
    grid-template-columns: fit-content(var(--text-measure)) 1fr 1fr;
    grid-column-gap: var(--space-x-large);
  }

  .footnote-item {
    margin-top: 0;
    height: fit-content;
  }
}
