.stats {
  max-width: 40ch;
  min-width: var(--min, 30ch);
}

.stats li {
  border-bottom: var(--border-default);
  padding-bottom: var(--space-tiny);
  margin-bottom: var(--space-tiny);
}

.stats li em {
  color: var(--color-secondary);
}
