.tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  padding: var(--space-default) 0;
  align-items: center;
  background-color: var(--color-bg);
  border-bottom: var(--border-default);
}

@media (min-width: 800px) {
  .tab {
    grid-template-columns: 4fr 1fr 1fr;
    height: 60px;
  }
}

.tab h3 {
  margin-bottom: 0;
}
