.tracks {
  counter-reset: tracks;
}

.track {
  counter-increment: tracks;
  display: flex;
  align-items: center;
}

.track::before {
  content: counter(tracks);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-default);
  height: var(--space-default);
  border-radius: 100%;
  border: solid var(--border-width-default) var(--color-primary);
  margin-right: var(--space-default);
  font-family: var(--text-mono);
  font-size: var(--text-size-small);
}

@media (min-width: 700px) and (max-width: 1000px) {
  .track {
    margin-left: -0.5rem;
  }
}
