.accordian ol {
  border-left: 1px dotted var(--color-faded);
  counter-reset: item;
  margin-left: var(--space-tiny);
}

.accordian li {
  display: flex;
  padding-left: var(--space-default);
}

.accordian li > * {
  margin-right: var(--space-default);
  margin-top: 0;
}

.accordian li > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.accordian li::before {
  counter-increment: item;
  margin-right: var(--space-default);
  color: var(--color-secondary);
}

.accordian:nth-of-type(1) li::before {
  content: "1." counters(item, ".") " ";
}

.accordian:nth-of-type(2) li::before {
  content: "2." counters(item, ".") " ";
}
