---
layout: layouts/default
title: About
introduction: >
  I’ve been a full-time designer and front-end engineer since 2011.
  I started out as a Graphic Designer, around 2014 I transitioned to Product Design.
  Since then I have worked with clients of all sizes in many different industries.
toc: ["Now", "Roles", "Clients", "Skills", "Recognition", "History"]
---

<article class="gap-large">
  <h2 id="now">Now</h2>
  <p class="measure">
    I am currently a Design Director at <a href="https://www.thoughtbot.com">thoughtbot</a>.
    I still work with clients on a daily basis designing and building new products.
    I also mentor a team of designers, and help grow the business.
  </p>
</article>

{% include "components/experience.liquid" %}

<article class="markdown | gap-xx-large">
  {% renderFile "./src/_includes/about.md" %}
</article>
