---
layout: layout.html
title: About Me
---

{% set heroImage = assets | findByID("5ZI6Cx1N7O5KG8ikkg1wv7") %}
{% set content = pages | findByID("gs1BugZQXA8mN7DniEOFx") %}
{% set experience = list | findByID("4GpYef6usWILucVp1ZYNi9") %}

<header class="grid | gap-x-large">
  {% breadcrumb page.filePathStem, "About" %}
  <div class="measure">
    <h2>{{ content.fields.title }}</h2>
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </div>
  <div class="flow" style="--flow-space: var(--space-default)">
    <h2 class="tertiary-title">Statistics</h2>
    <table class="tertiary-text | gap-large">
      <thead>
        <th>Updated</th>
        <th>Reading time</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ content.sys.updatedAt | formatDate }}</td>
        </tr>
        <tr>
          <td>{{ content.fields.contentMarkdown | readingTime }}</td>
        </tr>
      </tbody>
    </table>
    <ul class="horizontal" data-appearance="plain">
      <li>
        <span class="tertiary-text | pad-r-small">&rarr;</span>
        <a href="mailto:luke@interroban.gg"
           target="_blank"
           referrer="noreferrer"
           class="link"
        >
           Email
        </a>
      </li>
      <li>
        <span class="tertiary-text | pad-r-small">&rarr;</span>
        <a href="https://twitter.com/lkemitchll"
           target="_blank"
           referrer="noreferrer"
           class="link"
        >
           Twitter
        </a>
      </li>
    </ul>
    <hr />
  </div>
  <nav class="toc | tertiary-text">
    <h2 class="tertiary-title | gap">Table of contents</h2>
    <ol class="gap" data-appearance="plain">
      <li class="horizontal">
        <p>1.</p>
        <hr class="grow" />
        <a class="link" href="#history">History</a>
      </li>
      <li class="horizontal">
        <p>2.</p>
        <hr class="grow" />
        <a class="link" href="#experience">Experience</a>
      </li>
      <li class="horizontal">
        <p>3.</p>
        <hr class="grow" />
        <a class="link" href="#clients">Clients</a>
      </li>
      <li class="horizontal">
        <p>4.</p>
        <hr class="grow" />
        <a class="link" href="#skills">Skills</a>
      </li>
    </ol>
    <hr />
  </nav>
</header>

<article class="grid reversed | gap-x-large">
  {% responsiveImage heroImage, "threeQuarters" %}
  <p class="measure | push-down leading-crushed">
    <small>
      <strong class="small-caps | pad-r-small">Image</strong> {{ heroImage.fields.description }}
    </small>
  </p>
</article>

<article class="grid | gap-xx-large">
  <section class="markdown | measure flow" style="--position: 2">
    {% renderMarkdown content.fields.contentMarkdown, assets %}
  </section>
</article>

<article class="grid | flow | gap-xx-large">
  <header class="measure" style="--position: 2">
    <h2>Career</h2>
    <p>
      I&apos;ve been a designer for (almost) 10 years, gaining experience
      working with clients of all sizes, spanning many industries. If you
      think we could work together, please get in touch.
    </p>
  </header>
  <section class="grid columns" style="--position: 2; --cols: 3">
    <section>
      <h3 id="experience" class="subtitle">{{ experience.fields.title }}</h3>
      <ul class="flow" data-appearance="plain">
        {% for job in experience.fields.items %}
        <li>
          <p class="tertiary-text color-secondary">{{ job.fields.period }}</p>
          <p>{{ job.fields.title }}</p>
          <p><em>{{ job.fields.company }}</em></p>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h3 id="clients" class="subtitle">Clients</h3>
      <ul class="flow" style="--flow-space: var(--space-small)" data-appearance="plain">
        {% for client in clients.clients %}
        <li>{{ client }}</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h3 id="skills" class="subtitle">Skills</h3>
      <ul class="flow" style="--flow-space: var(--space-small)" data-appearance="plain">
        {% for skill in skills.skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </section>
  </section>
</article>
