---
layout: layouts/default
title: Blogroll
introduction: >
  This is a list coming straight from Feedbin, of all the RSS feeds, and
  email newsletters that I read and enjoy regularly, this should update
  ‘magically’ as I add new subscriptions.
---

{% include "components/header.liquid", nav: true, intro: introduction, history: true %}

<hr class="gap-x-large" />

<section class="gap-xx-large">
  <ul>
    {% for feed in feeds %}
    <li>
      <a href="{{ feed.site_url }}">
        {{ feed.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
