---
layout: layout.html
title: Bookmarks
---

{% set content = pages | findByID("4bctuwqdqxtWxfaNXPLqaI") %}
{% set lastUpdate = bookmarks[0].bookmarks | limit(1) %}
{% set totals = [bookmarks[0].bookmarks.length, bookmarks[1].bookmarks.length,bookmarks[2].bookmarks.length] %}
{% set roundup = roundups | limit(1) %}

<header id="top" class="grid | gap-x-large">
  {% breadcrumb page.filePathStem, "Bookmarks" %}
  <div class="measure flow | gap">
    <h1>{{ content.fields.title }}</h1>
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </div>
  <div class="flow" style="--flow-space: var(--space-default)">
    <h2 class="tertiary-title | gap">Statistics</h2>
    <table class="tertiary-text | gap-large">
      <thead>
        <th>Total</th>
        <th>Updated</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ totals | sum }} Bookmarks</td>
          <td>{{ lastUpdate.fields.publishDate | formatDate }}</td>
        </tr>
      </tbody>
    </table>
    <ul class="horizontal | gap" data-appearance="plain">
      <li>
        <span class="tertiary-text | pad-r-small">&rarr;</span>
        <a href="/api/bookmarks.json"
            target="_blank"
            referrer="noreferrer"
            class="link"
        >
          JSON Feed
        </a>
      </li>
    </ul>
    <hr />
  </div>
  <nav class="toc | tertiary-text">
    <h2 class="tertiary-title | gap">Table of contents</h2>
    <ol class="gap" data-appearance="plain">
      <li class="horizontal">
        <p>1.</p>
        <hr class="grow">
        <a class="link" href="#faves">Favourites</a>
      </li>
      {% for timePeriod in bookmarks %}
        <li class="horizontal">
          <p>{{ loop.index + 1 }}.</p>
          <hr class="grow">
          <a class="link" href="#{{ timePeriod.title | lower }}">{{ timePeriod.title }}</a>
        </li>
      {% endfor %}
    </ol>
    <hr />
  </nav>
</header>

<article class="grid | gap-x-large">
  <header style="--position: 2">
    <h2 class="title | gap-small">Favourites</h2>
  </header>
  <div class="tab">
    <h3 class="subtitle | gap-small">{{ roundup.fields.title }}</h3>
    <a href="#top" class="link">Back to top</a>
  </div>
  <section id="faves">
    {% set favouriteBookmarks = roundup.fields.links %}
    {% include "src/_includes/favouriteBookmarks.html" %}
  </section>
</article>

<article class="grid | gap-xx-large">
  <header style="--position: 2">
    <h2 class="title | gap-small">Bookmarks</h2>
  </header>
  {% for timePeriod in bookmarks %}
    {% set bookmarks = timePeriod.bookmarks %}
    <div class="tab">
      <h3 id="{{ timePeriod.title | lower }}" class="subtitle | gap-small">
        {{ timePeriod.title }}
      </h3>
      <p class="tertiary-text"><em>Total</em>: {{ timePeriod.total }}</p>
      <a href="#top" class="link">Back to top</a>
    </div>
    {% include "src/_includes/bookmarks.html" %}
  {% endfor %}
</article>
