---
layout: layout.html
title: Bookmarks
theme: blue
pagination:
  data: bookmarks
  size: 1
  alias: year
permalink: "bookmarks/{% if pagination.pageNumber > 0 %}{{ year.title | lower }}/{% endif %}index.html"
---

<h1 class="banner">
  <em>Bookmarks&mdash;</em>I try and keep track of all the interesting things I
  find on my travels around the web. Because the internet never stops changing,
  as this list gets older things will begin to decay and disappear. So this
  isn’t an archive as such, it’s a log.
</h1>
<hr class="gap-large">

<header class="flow | gap-large">
  <ul>
    <li class="arrow-link | tertiary-text gap">
      <a href="/feeds/bookmarks.xml" target="_blank" referrer="noreferrer" class="link">
        RSS Feed
      </a>
    </li>
    <li class="arrow-link | tertiary-text gap">
      <a href="/feeds/bookmarks.json" target="_blank" referrer="noreferrer" class="link">
        JSON Feed
      </a>
    </li>
  </ul>
  <hr>
</header>

<article id="content" class="flow | gap-xx-large">
  <ul class="flow">
    {% for bookmark in year.bookmarks %}
    <li class="bookmark">
      <p class="tertiary-text">
        N&ordm; {{ bookmark.fields.number }}
      </p>
      <a href="{{ bookmark.fields.url }}" target="_blank" rel="noreferrer">
        {{ bookmark.fields.title }}
      </a>
      <p class="tertiary-text push-right">
        {{ bookmark.fields.tag }} &mdash;
        {{ bookmark.fields.publishDate | formatDate }}
      </p>
    </li>
    {% endfor %}
  </ul>
  <nav>
    <p class="tertiary-text">More:</p>
    <ul class="horizontal | gap">
      {% for page in pagination.pages %}
        {% if page.title != "Current" %}
          <li>
            <a class="link" href="/bookmarks/{{ page.title }}#content" {{ "aria-current='page'" if currentPage.title == page.title }}>
              {{ page.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="#content" class="link">Back to top</a>
  </nav>
</article>
