---
layout: layouts/default
title: Bookmarks
pagination:
  data: bookmarks
  size: 100
  reverse: true
---

<header class="flow | gap-x-large">
  {% include "components/nav.njk" %}
  <p class="measure gap-large">
    I try and keep track of all the interesting things I
    find on my travels around the web. Because the internet never stops changing,
    as this list gets older things will begin to decay and disappear. So this
    isn’t an archive as such, it’s a log.
  </p>
  <ul role="list" class="tertiary-text">
    <li>
      <a href="/feeds/bookmarks.xml" target="_blank" referrer="noreferrer">
        RSS Feed
      </a>
    </li>
    <li>
      <a href="/feeds/bookmarks.json" target="_blank" referrer="noreferrer">
        JSON Feed
      </a>
    </li>
  </ul>
  <hr>
</header>

<article id="content" class="flow | gap-xx-large">
  <ul role="list" class="flow">
    {% for bookmark in pagination.items %}
    <li class="horizontal | border tertiary-text" data-responsive>
      <p>
        N&ordm; {{ bookmark.number }}
      </p>
      <a class="gap" href="{{ bookmark.url }}" target="_blank" rel="noreferrer">
        {{ bookmark.title }}
      </a>
      <p class="push-right gap">
        {% if bookmark.favourite %}★{% endif %}
        {{ bookmark.tag }} &mdash;
        {{ bookmark.date | formatDate }}
      </p>
    </li>
    {% endfor %}
  </ul>
  <nav class="tertiary-text">
    <p class="gap">More bookmarks:</p>
    <ul role="list" class="horizontal | gap">
      {% for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[loop.index0] }}#content"
             {% if page.url == pagination.hrefs[loop.index0] %} aria-current="page"{% endif %}
          >
          Page {{ loop.index }}</a>
        </li>
      {% endfor %}
    </ul>
    <a href="#content">Back to top</a>
  </nav>
</article>
