---
layout: layout.html
title: Bookmarks
---

{% from 'src/_includes/metaLink.html' import metaLink %}

{% set content = pages | findByID("4bctuwqdqxtWxfaNXPLqaI") %}
{% set lastUpdate = bookmarks[0].bookmarks | limit(1) %}
{% set roundup = roundups | limit(1) %}

<header id="top" class="flow | gap-xx-large">
  <h1 class="headline">{{ content.fields.title }}</h1>
  <div class="markdown | measure | gap">
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </div>
  <h3 class="subtitle">Feeds</h3>
  <ul data-appearance="plain">
    {{ metaLink("JSON Feed", "/api/bookmarks.json") }}
    {{ metaLink("Suggest a bookmark", "mailto:luke@interroban.gg?subject=Bookmark%20suggestion", false) }}
  </ul>
  <hr>
</header>

{% set toc = ["Favourites", "2021", "2020", "Archive"] %}
{% include "src/_includes/toc.html" %}

<article id="favourites" class="grid | gap-x-large">
  <h2 class="title | gap-small">Favourites</h2>
  <section>
    <h3 class="subtitle">{{ roundup.fields.title }}</h3>
    {% set favouriteBookmarks = roundup.fields.links %}
    {% include "src/_includes/favouriteBookmarks.html" %}
  </section>
</article>

<article class="grid | gap-xx-large" style="--row-gap: var(--space-small)">
  {% include "src/_includes/bookmark-table.html" %}
</article>
