---
layout: layout.html
title: Colophon
theme: green
---

{% set content = pages | findByID("3TxaAfROQOMMOtj5U6E4qG") %}

<header class="flow | gap-x-large">
  <h1 class="headline">{{ content.fields.title }}</h1>
  <section class="markdown">
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </section>
  <hr>
</header>

<article class="flow | gap-xx-large">
  <div id="updates" class="gap-large">
    <h2>Updates</h2>
    {% set posts = metaPosts %}
    {% set postParent = '/colophon' %}
    {% include "./_includes/posts.html" %}
    {% include "./_includes/commits.html" %}
    <hr />
  </div>
  <section id="notes" class="markdown | flow">
    {% renderMarkdown content.fields.contentMarkdown %}
  </section>
</article>
