---
layout: layout.html
title: Colophon
---

{% from 'src/_includes/stats.html' import stats %}

{% set content = pages | findByID("3TxaAfROQOMMOtj5U6E4qG") %}
{% set posts = metaPosts %}

<header class="grid | gap-x-large">
  <h1 class="headline">{{ content.fields.title }}</h1>
  <section class="markdown | measure | gap">
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </section>
  <div>
    {{ stats(metaPosts, "Posts", content.sys.updatedAt) }}
  </div>
</header>

{% set toc = ["Updates", "Notes"] %}
{% include "src/_includes/toc.html" %}

<article class="grid | gap-xx-large">
  <section>
    <div id="updates" class="gap-large">
      <h2 class="title">Updates</h2>
      {% set postParent = '/colophon' %}
      {% include "src/_includes/posts.html" %}
      {% include "src/_includes/commits.html" %}
      <hr />
    </div>
    <section id="notes" class="markdown | measure flow">
      <h2 class="title">Notes</h2>
      {% renderMarkdown content.fields.contentMarkdown %}
    </section>
  </section>
</article>
