---
layout: layout.html
title: Colophon
---

{% from 'src/_includes/stats.html' import stats %}

{% set content = pages | findByID("3TxaAfROQOMMOtj5U6E4qG") %}
{% set posts = metaPosts %}

<header class="grid | gap-xx-large">
  {% breadcrumb page.filePathStem, "Colophon" %}
  <section class="measure | gap">
    <h2>{{ content.fields.title }}</h2>
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </section>
  <div class="flow" style="--flow-space: var(--space-default)">
    {{ stats(metaPosts, "Posts", content.sys.updatedAt) }}
    <hr />
  </div>
  {% set toc = ["Updates", "Notes"] %}
  {% include "src/_includes/toc.html" %}
</header>

<article class="grid | gap-xx-large">
  <section style="--position: 2">
    <div id="updates" class="gap-large">
      <h2 class="title">Updates</h2>
      {% set postParent = '/colophon' %}
      {% include "src/_includes/posts.html" %}
      {% include "src/_includes/commits.html" %}
      <hr />
    </div>
    <section id="notes" class="markdown | measure flow">
      <h2 class="title">Notes</h2>
      {% renderMarkdown content.fields.contentMarkdown %}
    </section>
  </section>
</article>
