---
layout: layouts/default
---

<article class="flow | gap-x-large">
  {% assign image_ID = "presenting-workshop-index.jpg" %}
  {% assign image_alt = "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
  <div class="gap-x-large">
    {% include "components/image" %}
  </div>

  <p class="measure">
    I'm a product designer and user experience engineer specialising in design strategy, process, and systems across multiple industries since 2011.
    Right now I am leading product design at <a href="https://definely.com">Definely</a>.
  </p>
</article>

{% assign headingLevel = "h2" %}
{% include "components/experience" %}
