---
layout: layouts/default
---

<article class="flow | gap-x-large">
  {% assign image_ID = "540ffb1d-051c-41d6-80bb-8a65af13a6cd" %}
  {% assign image_alt = "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
  <div class="gap-x-large">
    {% include "components/image" %}
  </div>

  <p class="measure">
    Digital product designer, design director, and user experience
    engineer formerly at <a href="https://www.thoughtbot.com">thoughtbot</a>.
    Specialising in design strategy, process, and systems across
    multiple industries since 2011. While you are here, you can see more about my
    <a href="/work">work</a>, read more <a href="/about">about</a> me, explore what
    I watch, read, listen to and write in the <a href="/journal">journal</a>, or even
    browse the links in my <a href="/bookmarks">bookmarks</a>.
  </p>
</article>

{% assign headingLevel = "h2" %}
{% include "components/experience" %}
