---
layout: layouts/default
title: Product Designer
---

<header class="flow | gap-x-large">
  <h1>Luke Mitchell</h1>
  <p class="measure">
    Digital product designer, design director, and user experience engineer for
    <a href="https://www.thoughtbot.com" target="_blank">thoughtbot</a>.
    Specialising in design strategy, process, and systems across
    multiple industries for more than 10 years.
  </p>
</header>

<hr class="gap-xx-large">

<nav class="gap-xx-large">
  <ol role="list" class="flow">
    {% for page in navigation.routes[0].pages %}
    <li class="horizontal | tertiary-text">
      <p class="horizontal">
        <span>{{ loop.index }}.</span>
        <a href="{{ page.url }}">{{ page.name }}</a>
      </p>
      <hr class="grow" />
      <p>{{ page.description }}</p>
    </li>
    {% endfor %}
  </ol>
</nav>

{% set image_ID = "540ffb1d-051c-41d6-80bb-8a65af13a6cd" %}
{% set image_alt = "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
<div class="gap-xx-large">
{% include "components/image.njk" %}
</div>

{% include "components/experience.njk" %}
