---
layout: layouts/default
title: Product Designer
---

<header class="flow | gap-x-large">
  <h1>Luke Mitchell</h1>
  {% include "components/nav.njk" %}

  {% set image_ID = "540ffb1d-051c-41d6-80bb-8a65af13a6cd" %}
  {% set image_alt = "Presenting mini storyboards during a Product Design workshop. Courtesy of Francis Augusto." %}
  <div class="gap-x-large">
    {% include "components/image.njk" %}
  </div>

  <p class="measure">
    Digital product designer, design director, and user experience engineer for
    <a href="https://www.thoughtbot.com">thoughtbot</a>.
    Specialising in design strategy, process, and systems across
    multiple industries for more than 10 years.
  </p>
</header>

{% set headingLevel = "h2" %}
{% include "components/experience.njk" %}
