---
layout: layout.html
title: Product Designer
---

{% set content = pages | findByID("5yo7fjGQhLhhuup6PUZlMU") %}
{% set bookmarks = bookmarks[0].bookmarks | limit(3) %}
{% set posts = posts | limit(3) %}

<header class="grid | gap-xx-large">
  {% breadcrumb page.url, "Home" %}
  <div class="measure flow">
    <h2>Welcome</h2>
    {% renderMarkdown content.fields.descriptionMarkdown %}
    {% include "src/_includes/site_index.html" %}
  </div>
</header>

<article class="grid">
  <nav class="toc | flow | tertiary-text">
    <h2 class="tertiary-title">Table of contents</h2>
    <ol class="flow | gap" style="--flow-space: var(--space-default)" data-appearance="plain">
      <li><a class="link" href="#posts">Recent Posts</a></li>
      <li><a class="link" href="#bookmarks">Recent Bookmarks</a></li>
    </ol>
    <hr />
  </nav>
  <section class="gap-xx-large">
    <section id="posts" class="gap-x-large">
      <h2>Recent Posts</h2>
      {% include "src/_includes/posts.html" %}
      <footer>
        <a href="/journal" class="link">See all Posts</a>
      </footer>
    </section>
    <section id="bookmarks">
      <h2>Recent Bookmarks</h2>
      {% include "src/_includes/bookmarks.html" %}
      <footer>
        <a href="/bookmarks" class="link">See all Bookmarks</a>
      </footer>
    </section>
  </section>
</article>
