---
layout: layout.html
title: Journal
theme: green
---

<h1 class="banner">
  <em>Journal&mdash;</em>what I've been doing recently, a blog, a scrapbook,
  and a place to show what I am currently listening to and reading. It's also a
  bit of playground to grab data from a few services I like.
</h1>
<hr class="gap-large">

{% set toc = ["Blog", "Listening", "Scrapbook"] %}
{% include "./_includes/toc.html" %}

<article id="blog" class="gap-xx-large">
  <header class="flow | gap-large">
    <h2>Blog</h2>
    <ul>
      <li class="arrow-link | tertiary-text gap">
        <a href="/rss.xml" target="_blank" referrer="noreferrer" class="link">
          RSS Feed
        </a>
      </li>
      <li class="arrow-link | tertiary-text gap">
        <a href="/feeds/posts.json" target="_blank" referrer="noreferrer" class="link">
          JSON Feed
        </a>
      </li>
    </ul>
  </header>

  {% include "./_includes/posts.html" %}
</article>

{% include "./_includes/listening.html" %}

<article id="scrapbook" class="flow | gap-xx-large">
  <header>
    <h2>Scrapbook</h2>
    <p class="measure gap">
      This is the last 50 images that have caught my eye. I collect them using
      <a href="https://savee.it/interrobang/">Savee</a>, a Pinterest
      alternative.
    </p>
    <p class="measure leading-crushed">
      <small>
        <strong class="tertiary-text">NOTE </strong>
        Each image is copyright of its respective owner. Reasonable effort has
        been made to retain the source information, although this has not always
        been possible. Clicking an image will open it's source (if known).
      </small>
    </p>
  </header>

  {% include "./_includes/scrapbook.html" %}
</article>
