---
layout: layout.html
title: Journal
alpine: true
---

{% set content = pages | findByID("5sXnSwGVJePuWZpcOZvIML") %}

<header class="grid | gap-x-large">
  {%  breadcrumb page.filePathStem, "Journal" %}
  <div class="measure flow | gap" style="--flow-space: var(--space-default)">
    <h1>{{ content.fields.title }}</h1>
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </div>
  <div class="flow" style="--flow-space: var(--space-default)">
    <h2 class="tertiary-title">Statistics</h2>
    <table class="tertiary-text | gap-large">
      <thead>
        <th>Total</th>
        <th>Updated</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ posts | length }} Posts</td>
          <td>{{ now.sys.updatedAt | formatDate }}</td>
        </tr>
      </tbody>
    </table>
    <ul class="horizontal" data-appearance="plain">
      <li>
        <span class="tertiary-text | pad-r-small">&rarr;</span>
        <a href="/rss.xml" class="link">RSS Feed</a>
      </li>
      <li>
        <span class="tertiary-text | pad-r-small">&rarr;</span>
        <a href="/api/posts.json"
           target="_blank"
           referrer="noreferrer"
           class="link"
           >
           JSON Feed
        </a>
      </li>
    </ul>
    <hr />
  </div>
  <nav class="toc | tertiary-text">
    <h2 class="tertiary-title | gap">Table of contents</h2>
    <ol class="gap" data-appearance="plain">
      <li class="horizontal">
        <p>1.</p>
        <hr class="grow" />
        <a class="link" href="#now">Now</a>
      </li>
      <li class="horizontal">
        <p>2.</p>
        <hr class="grow" />
        <a class="link" href="#posts">Posts</a>
      </li>
      <li class="horizontal">
        <p>3.</p>
        <hr class="grow" />
        <a class="link" href="#listening">Listening</a>
      </li>
      <li class="horizontal">
        <p>4.</p>
        <hr class="grow" />
        <a class="link" href="#reading">Reading</a>
      </li>
    </ol>
    <hr />
  </nav>
</header>

<article class="grid | gap-xx-large">
  <section style="--position: 2">
    <section id="now" class="flow | gap-xx-large">
      <h2 class="title">Now</h2>
      <section class="markdown | measure flow">
        {% renderMarkdown now.fields.contentMarkdown %}
      </section>
      <footer>
        <time datetime="{{ now.fields.date }}">
          Last updated &ndash;
          {{ now.fields.date | formatDate }}
        </time>
      </footer>
    </section>

    <section id="posts" class="gap-xx-large">
      <h2 class="title">Posts</h2>
      <ol class="flow gap-large" data-appearance="plain">
        {% for post in posts %}
        <li>
          <a href="/post/{{ post.fields.slug }}/">{{ post.fields.title }}</a>
          <p class="color-secondary">
            <time datetime="{{ post.fields.date }}">
              {{ post.fields.date | formatDate("long") }}
            </time>
          </p>
        </li>
        {% endfor %}
      </ol>
    </section>

    {% include "src/_includes/listening.html" %}
    {% include "src/_includes/reading.html" %}
  </section>
</article>
