---
layout: layouts/default
title: Journal
---

<header class="flow | gap-x-large">
  {% include "components/nav.njk" %}
  <section class="flow | measure">
    <p>
      What I've been doing recently, a blog, a scrapbook,
      and a place to show what I am currently listening to and watching.
      It's also a bit of playground to grab data from a few services I like.
    </p>
  </section>
</header>

{% set toc = ["Blog", "Listening", "Watching", "Scrapbook"] %}
{% include "components/toc.njk" %}

<article id="blog" class="gap-xx-large">
  <header class="gap-large">
    <h2>Blog</h2>
    <p class="measure | gap-large">
      I try my best to write down a few thoughts each year, but I won't hold myself too accountable.
    </p>
    <ul role="list" class="horizontal | tertiary-text">
      <li>
        <a href="/rss.xml">
          RSS Feed
        </a>
      </li>
      <li>
        <a href="/feeds/posts.json">
          JSON Feed
        </a>
      </li>
    </ul>
  </header>

  {% set posts = collections.post %}
  {% include "components/posts.njk" %}
</article>

<article id="listening" class="gap-xx-large">
  <header class="gap-large">
    <h2>Listening</h2>
    <p class="measure | gap-large">
      I listen to music, mostly while I work, or walk. I use
      <a href="https://www.apple.com/uk/apple-music/">Apple Music</a>
      and I collect the stats with <a href="https://www.last.fm">last.fm</a>.
    </p>
  </header>
  <section class="columns" data-cols="2" data-row-gap="none">
    {% for week in [music.lastWeek, music.thisWeek] %}
    <div>
      <h3>{{ week.title }}</h3>
      <ul role="list" class="columns | tertiary-text gap-large" data-row-gap="none">
        {% for stat in [week.tracks, week.albums] %}
        <li class="horizontal | border gap">
          <p>{{ stat.title }}</p>
          <p class="push-right">
            {{ stat.total }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </section>
  <section class="columns" data-cols="2" data-row-gap="none">
    <div>
      <h3>Top albums (3 months)</h3>
      <ol role="list">
        {% for album in music.topAlbums %}
        <li class="border">
          <a href="{{ album.url }}">
            {{ album.title }}
          </a>
          <p class="gap-small"><small>{{ album.artist }}</small></p>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <h3>Top artists (3 months)</h3>
      <ol role="list">
        {% for artist in music.topArtists %}
        <li class="border">
          <a href="{{ artist.url }}">
            {{ artist.name }}
          </a>
          <p class="gap-small"><small>{{ artist.playcount }} plays</small></p>
        </li>
        {% endfor %}
      </ol>
    </div>
  </section>
</article>

<article id="watching" class="gap-xx-large">
  <header class="gap-large">
    <h2>Watching</h2>
    <p class="measure">
      The last 6 movies that I've watched and (hopefully) enjoyed, I record the
      ratings with <a href="https://letterboxd.com">Letterboxd.</a>
    </p>
  </header>

  <ol role="list" class="movies | columns">
    {% for movie in movies %}
    <li>
      <img src="{{ movie.poster }}" width="500" height="750" loading="lazy" alt="{{ movie.title }}" title="{{ movie.title }}" class="gap" />
      <div class="flow | tertiary-text">
        <p class="tertiary-text | gap-small">Rating: {{ movie.rating | starRating | safe }}</p>
        <a href="{{ movie.url }}">{{ movie.title }}</a>
      </div>
    </li>
    {% endfor %}
  </ol>
</article>

<article id="scrapbook" class="flow | gap-xx-large">
  <header>
    <h2>Scrapbook</h2>
    <p class="measure gap">
      This is the last 50 images that have caught my eye. I collect them using
      <a href="https://savee.it/interrobang/">Savee</a>, a Pinterest
      alternative.
    </p>
    <p class="measure leading-crushed">
      <small>
        <strong class="tertiary-text">NOTE </strong>
        Each image is copyright of its respective owner. Reasonable effort has
        been made to retain the source information, although this has not always
        been possible. Clicking an image will open it's source (if known).
      </small>
    </p>
  </header>

  <div class="masonry">
    {% for item in scrapbook %}
    <figure>
      <a href="{{ item.pageURL if item.pageURL else 'https://savee.it' + item.url }}">
        <img src="{{ item.asset.image.thumbnail }}" loading="lazy" width="{{ item.asset.image.width }}"
          height="{{ item.asset.image.height }}" alt="{{ item.name }}" />
      </a>
    </figure>
    {% endfor %}
  </div>
</article>
