---
layout: layout.html
title: Journal
alpine: true
---

{% from 'src/_includes/stats.html' import stats %}
{% from 'src/_includes/metaLink.html' import metaLink %}
{% set content = pages | findByID("5sXnSwGVJePuWZpcOZvIML") %}

<header class="grid | gap-x-large">
  {% breadcrumb page.filePathStem, "Journal" %}
  <div class="measure flow | gap" style="--flow-space: var(--space-default)">
    <h1>{{ content.fields.title }}</h1>
    {% renderMarkdown content.fields.descriptionMarkdown %}
  </div>
  <div class="flow" style="--flow-space: var(--space-default)">
    {{ stats(posts, "Posts", now.sys.updatedAt) }}
    <ul class="horizontal" data-appearance="plain">
      {{ metaLink("RSS Feed", "/rss.xml", external = false) }}
      {{ metaLink("JSON Feed", "/api/posts.json") }}
    </ul>
    <hr />
  </div>
  {% set toc = ["Now", "Posts", "Listening", "Reading"] %}
  {% include "src/_includes/toc.html" %}
</header>

<article class="grid | gap-xx-large">
  <section style="--position: 2">
    <section id="now" class="flow | gap-xx-large">
      <h2 class="title">Now</h2>
      <section class="markdown | measure flow">
        {% renderMarkdown now.fields.contentMarkdown %}
      </section>
      <footer>
        <time datetime="{{ now.fields.date }}">
          Last updated &ndash;
          {{ now.fields.date | formatDate }}
        </time>
      </footer>
    </section>

    <section id="posts" class="gap-xx-large">
      <h2 class="title">Posts</h2>
      {% include "src/_includes/posts.html" %}
    </section>

    {% include "src/_includes/listening.html" %}
    {% include "src/_includes/reading.html" %}
  </section>
</article>
