<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="shortcut icon" type="image/png" href="favicon.png">
  <link rel="mask-icon" href="favicon.svg" color="black">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@LkeMitchll">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <!-- Facebook -->
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:url" content="http://interroban.gg"/>
  <meta property="og:site_name" content="Interrobang"/>
  <meta property="og:type" content="website"/>
  <link rel="stylesheet" href="site.css" inline>
</head>
<body>
  <main class="cf pv3 pv5-ns center tiempos" role="main">
    {{{ contents }}}
  </main>
</body>
</html>
