@font-face {
  font-family: Blanco;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://ucarecdn.com/2c11c5cd-cee6-4092-a10f-a231c76bbb8c/Blanco-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Blanco;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://ucarecdn.com/2c11c5cd-cee6-4092-a10f-a231c76bbb8c/Blanco-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Blanco;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://ucarecdn.com/2c11c5cd-cee6-4092-a10f-a231c76bbb8c/Blanco-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Pitch;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://ucarecdn.com/2c11c5cd-cee6-4092-a10f-a231c76bbb8c/pitch-web-semibold.woff2") format("woff2");
}

@font-face {
  font-family: Signifier;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://ucarecdn.com/2c11c5cd-cee6-4092-a10f-a231c76bbb8c/signifier-web-light.woff2") format("woff2");
}
