@font-face {
  font-family: "Taurus Grotesk";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.interroban.gg/TaurusGrotesk-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Taurus Grotesk";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://assets.interroban.gg/TaurusGrotesk-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Taurus Grotesk";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.interroban.gg/TaurusGrotesk-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Pitch;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.interroban.gg/pitch-web-semibold.woff2") format("woff2");
}

@font-face {
  font-family: Signifier;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.interroban.gg/signifier-web-light.woff2") format("woff2");
}

@font-face {
  font-family: PicNic;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.interroban.gg/PicNic.woff2") format("woff2");
}
