html {
  /* https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjQwMHB4IiwibWF4V2lkdGgiOiIxNjAwcHgiLCJtaW5Gb250U2l6ZSI6IjE2cHgiLCJtYXhGb250U2l6ZSI6IjE4cHgifQ%3D%3D */
  font-size: clamp(1rem, 0.9583rem + 0.1667vw, 1.125rem);
}

html,
body {
  background-color: var(--color-bg);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-fg);
  font-family: var(--text-body);
  font-feature-settings: "case" on;
  margin: var(--space-large) auto 0 auto;
  padding: 0 5vw;
  text-rendering: optimizelegibility;
  line-height: var(--text-leading-default);

  @media screen and (min-width: 600px) {
    margin-top: var(--space-xx-large);
  }

  @media screen and (min-width: 1600px) {
    max-width: 70vw;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--color-fg);
}

figure {
  margin: 0;

  & *[data-image-size="large"],
  & figcaption {
    grid-column: span 4;
  }

  @media (min-width: 700px) {
    & figcaption {
      grid-column: 4 / 4;
    }
  }
}

hr {
  border: 0;
  margin: auto 0 0;
  border-bottom: var(--border-default);
}
