html {
  /* @link https://utopia.fyi/type/calculator?c=320,12,1.2,2000,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  font-size: clamp(0.9rem, calc(0.8rem + 0.48vw), 1.41rem);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--text-body);
  font-feature-settings: "case" on;
  margin: var(--space-large) auto 0 auto;
  padding: 0 5vw;
  text-rendering: optimizelegibility;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
}

figure {
  margin: 0;
}

hr {
  border: 0;
  margin: auto 0 0;
  border-bottom: var(--border-default);
}

@media screen and (min-width: 600px) {
  body {
    margin-top: var(--space-xx-large);
  }
}

@media screen and (min-width: 1600px) {
  body {
    max-width: 70vw;
  }
}
