p {
  color: var(--color-fg);
  font-feature-settings: "ss01" on, "ss02" on, "onum" on;
  line-height: var(--text-leading-default);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: var(--border-default);
  color: var(--color-fg);

  &:hover,
  &[aria-current] {
    background-color: var(--color-fg);
    color: var(--color-bg);
  }

  &[role="link"],
  &[role="link"]:hover {
    padding: 0;
    border: 0;
    color: var(--color-fg);
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4 {
  line-height: var(--text-leading-heading);
  text-decoration: none;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-family: var(--text-display);
  font-size: var(--text-size-large);
  font-feature-settings: "case" on;
}

h2 {
  font-family: var(--text-heading);
  font-size: var(--text-size-medium);
}

h3,
h4,
.subheading {
  font-family: var(--text-body);
  font-size: var(--text-size-default);
  font-weight: 600;
  opacity: 0.8;
}

h4 {
  font-weight: 400;
  opacity: 1;
}

small,
code,
pre {
  font-size: var(--text-size-small);
}

code,
pre {
  font-family: var(--text-mono);
  overflow-x: scroll;
}

pre {
  padding: var(--space-default);
  background-color: var(--color-fg);
  color: var(--color-bg);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: var(--space-small);
  padding: 0;
}

blockquote {
  margin: 0;
  padding-left: var(--space-default);
  border-left: var(--border-default);

  & p + p {
    margin-top: var(--space-default);
  }
}
