p {
  color: var(--color-primary);
  font-feature-settings: "ss01" on, "ss02" on, "onum" on;
  line-height: var(--text-leading-default);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border-bottom: var(--border-default);
  padding: 0 0.1em;
  color: var(--color-primary);

  &:hover,
  &[aria-current] {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }

  &[role="link"],
  &[role="link"]:hover {
    padding: 0;
    border: 0;
    color: var(--color-primary);
  }
}

h1,
h2,
h3 {
  font-size: var(--text-size-large);
  font-family: var(--text-display);
  line-height: var(--text-leading-heading);
  text-decoration: none;
  font-weight: 400;
}

h3 {
  font-size: var(--text-size-default);
  font-family: var(--text-body);
  font-weight: 600;
}

small,
code,
pre {
  font-size: var(--text-size-small);
}

code,
pre {
  font-family: var(--text-mono);
  overflow-x: scroll;
}

pre {
  padding: var(--space-default);
  background-color: var(--color-primary);
  color: var(--color-bg);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: var(--space-small);
  padding: 0;
}

blockquote {
  margin: 0;
  padding-left: var(--space-default);
  border-left: var(--border-default);
}
